<%- include('./common/header.ejs') %>

<title>문의하기 - 테스트용 사이트</title>
<div class="sp1TopContents">
	<div class="sp1Top">
		<div class="sp1Top_sub">
			<div class="sp1Top_sub2">
				<div class="sp1Top_sub3">
					<div class="sp1Top_sub4">
						<div class="sp1Top_sub5">
							<div class="sp1Top_sub6">
								<div class="sp1Top_sub7">
									<div class="sp1Top_sub8">
										<div class="sp1Top_sub9">

											<!-- 상단 배경이미지 부분. common.css 583번 라인 background-image -->
											<div class="sp1Top_sub10">
											<!-- End -->

												<div class="sp1Top_sub11">
													<div class="sp1Top_sub12">
														<div class="sp1Top_sub13">
															<div class="sp1Top_sub14">
																<div class="sp1Top_sub15">
																	<div class="sp1Top_sub15">
																		<div class="sp1Top_sub16">
																			<div class="sp1Top_sub17">

																				<!-- 상단 큰글씨 메뉴명 -->
																				<h1>문의하기</h1>
																				<!-- End -->

																			</div>												
																		</div>
																		<div class="sp1Top_sub18">
																			<div class="sp1Top_sub19">
																				<div class="sp1Top_sub20">
																					<div class="sp1Top_sub21">
																						<div class="sp1Top_sub22">
																							<div class="sp1Top_sub23">

																								<!-- 상단 작은글씨 메뉴 -->
																								<div class="sp1Top_sub24">
																									<a href="/" class="sub24_Link">테스트용 사이트</a>																				
																								</div>	
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/contact" class="sub24_Link">문의하기</a>																				
																								</div>	
																								<!-- End -->
																								
																							</div>																					
																						</div>	
																					</div>																					
																				</div>																					
																			</div>												
																		</div>																															
																	</div>													
																</div>												
															</div>												
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sp1Contatct">
	<div class="sp1Contatct_sub">
		<div class="sp1Contatct_sub2">
			<div class="sp1Contatct_sub3">
				<div class="sp1Contatct_sub4">
					<div class="sp1Contatct_sub5">
						<div class="sp1Contatct_sub6">
							<div class="sp1Contatct_sub7">
								<div class="sp1Contatct_sub8">
									<div class="sp1Contatct_sub9">
										<div class="sp1Contatct_sub10">
											<div class="sp1Contatct_sub11">
												<div class="sp1Contatct_sub12">
													<div class="sp1Contatct_sub13">
														<div class="sp1Contatct_sub14">
															<div class="sp1Contatct_sub15">
																<div class="sp1Contatct_sub16">
																	<div class="sp1Contatct_sub16_sub1">
																		<div class="sp1Contatct_sub16_sub1_sub">
																			<div class="sp1Contatct_sub16_sub1_sub2">
																				<div class="sp1Contatct_sub16_sub1_sub3">																		
																				</div>
																			</div>
																		</div>
																	</div>

																	<!-- 상단 회사 정보 부분 -->
																	<div class="sp1Contatct_sub16_sub2">
																		<div class="sp1Contatct_sub16_sub2_sub">
																			<ul>
																				<li class="sp1Contatct_sub16_sub2_sub_li">
																					<a href="http://kko.to/YjuoZRM3l" target="_blank">
																						<span class="sp1Contatct_sub16_sub2_sub_icon">
																							<i aria-hidden="true" class="fas fa-map-marker-alt"></i>
																						</span>
																						<span class="sp1Contatct_sub16_sub2_sub_info" style="text-align: left;">
																							서울시 영등포구 국제금융로6길 33, 8층 24호
																							<br class="mobile-enter">
																							(여의도동, 맨하탄빌딩)
																						</span>
																					</a>
																				</li>
																				<li class="sp1Contatct_sub16_sub2_sub_li">
																					<a href="tel:070-8836-1108">
																						<span class="sp1Contatct_sub16_sub2_sub_icon">
																							<i aria-hidden="true" class="fas fa-phone-square-alt"></i>
																						</span>
																						<span class="sp1Contatct_sub16_sub2_sub_info">
																							070-8836-1108
																						</span>
																					</a>
																				</li>
																				<li class="sp1Contatct_sub16_sub2_sub_li">
																					<a href="tel:050-8090-0718">
																						<span class="sp1Contatct_sub16_sub2_sub_icon">
																							<i aria-hidden="true" class="fas fa-fax"></i>
																						</span>
																						<span class="sp1Contatct_sub16_sub2_sub_info">
																							050-8090-0718
																						</span>
																					</a>
																				</li>
																				<li class="sp1Contatct_sub16_sub2_sub_li">
																					<a href="mailto:help@sp1soft.com">
																						<span class="sp1Contatct_sub16_sub2_sub_icon">
																							<i aria-hidden="true" class="fas fa-envelope"></i>
																						</span>
																						<span class="sp1Contatct_sub16_sub2_sub_info">
																							help@sp1soft.com
																						</span>
																					</a>
																				</li>
																			</ul>
																		</div>
																	</div>
																	<!-- End -->

																	<!-- 중간 지도 부분 -->
																	<div class="sp1Contatct_sub16_sub3">
																		<div class="sp1Contatct_sub16_sub3_sub">
																			<div class="sp1Contatct_sub16_sub3_sub2">
																				<div class="sp1Contatct_sub16_sub3_sub3">
																					<div class="sp1Contatct_sub16_sub3_sub4">
																						<div class="sp1Contatct_sub16_sub3_sub5">
																							<div class="sp1Contatct_sub16_sub3_sub6">
																								<div class="sp1Contatct_sub16_sub3_sub7">
																									<div class="sp1Contatct_sub16_sub3_sub8">
																										<!-- * 카카오맵 - 지도퍼가기 -->
																										<!-- 1. 지도 노드 -->
																										<div id="daumRoughmapContainer1646269370552" class="root_daum_roughmap root_daum_roughmap_landing os_mac" style="width:100%">
																										</div>																								
																										<!-- 2. 설치 스크립트
																										* 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다. -->
																										<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
																										<script charset="UTF-8" src="https://t1.daumcdn.net/kakaomapweb/place/jscss/roughmap/c6dc0bd8/roughmapLander.js"></script>
																										<!-- 3. 실행 스크립트 -->
																										<script charset="UTF-8">
																											new daum.roughmap.Lander({
																												"timestamp" : "1646269370552",
																												"key" : "29c8t",
																												"mapHeight" : "500"
																											}).render();
																										</script>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<!-- End -->

																	<!-- 하단 공백 부분 -->
																	<div class="sp1Contatct_sub16_sub1">
																		<div class="sp1Contatct_sub16_sub1_sub">
																			<div class="sp1Contatct_sub16_sub1_sub2">
																				<div class="sp1Contatct_sub16_sub1_sub3">																		
																				</div>
																			</div>
																		</div>
																	</div>
																	<!-- End -->

																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('./common/footer.ejs') %>