<%- include('./common/header.ejs') %>
<title>테스트용 사이트</title>

<div class="sp1mainHeader">
	<div class="sp1mainHeader_sub">
		<div class="sp1mainHeader_sub_div">
			<div class="sp1mainHeader_sub_div1">
				<div class="sp1mainHeader_sub_div1_sub">
					<div class="sp1mainHeader_sub_div1_sub2">
					</div>
				</div>
			</div>
			<div class="sp1mainHeader_sub_div2">
				<div class="sp1mainHeader_sub_div2_sub">
					<div class="sp1mainHeader_sub_div2_sub2">
						<div class="sp1mainHeader_sub_div2_sub2_ment1">
							<div class="sp1mainHeader_sub_div2_sub2_ment1_sub">
								<h3>
									국내 최고의 기술로 특화된
									<br>									
									금융 IT 서비스 전문기업
								</h3>
							</div>
						</div>
						<div class="sp1mainHeader_sub_div2_sub2_ment2">
							<div class="sp1mainHeader_sub_div2_sub2_ment2_sub">
								<h1>테스트용 사이트</h1>
							</div>
						</div>
						<div class="sp1mainHeader_sub_div2_sub2_ment3">
							<div class="sp1mainHeader_sub_div2_sub2_ment3_sub">
								<h6>
									은행, 보험 등 금융 분야에서 시스템 구축 사업과 
									<br class="mobile-enter">
									모바일 솔루션을 연구, 개발합니다. 
								</h6>
							</div>
						</div>
						<div class="sp1mainHeader_sub_div2_sub2_ment4">
							<div class="sp1mainHeader_sub_div2_sub2_ment4_sub">
								<div class="sp1mainHeader_sub_div2_sub2_ment4_sub2">
									<a href="/contact">
										<span class="ment4_sub2_wrap">
											<span>문의하기</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sp1mainblank">
	<div class="sp1mainblank_sub">
		<div class="sp1mainblank_sub2">
			<div class="sp1mainblank_sub3">
				<div class="sp1mainblank_sub4">
					<div class="sp1mainblank_sub5">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sp1mainService">
	<div class="sp1mainService_sub">
		<div class="sp1mainService_sub2">
			<div class="sp1mainService_sub3">
				<div class="sp1mainService_sub4">
					<div class="sp1mainService_sub5">
						<div class="sp1mainService_div1">
							<div class="sp1mainService_div1_sub">
								<div class="sp1mainService_div1_sub2">
									<div class="sp1mainService_div1_sub2_left">
										<div class="sp1mainService_div1_sub2_left_sub">
											<div class="sp1mainService_div1_sub2_left_sub2">
												<div class="sp1mainService_div1_sub2_left_sub3">
													<div class="sp1mainService_div1_sub2_left_sub4">
														<h3>테스트용 사이트</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="sp1mainService_div1_sub2_right">
										<div class="sp1mainService_div1_sub2_right_sub">
											<div class="sp1mainService_div1_sub2_right_sub2">
												<div class="sp1mainService_div1_sub2_right_sub3">
													<div class="sp1mainService_div1_sub2_right_sub4">
														<h3>Business</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="sp1mainService_div2">
							<div class="sp1mainService_div2_sub">
								<div class="sp1mainService_div2_sub2">
									<div class="sp1mainService_div2_contents">
										<div class="sp1mainService_div2_contents_sub">

											<!-- 서비스 추가 시 서비스 - 빨간화면 세트로 구성해야 함 -->
											<!-- 금융 서비스 부분 -->
											<div class="sp1mainService_div2_contents_sub2">
												<div class="sp1mainService_div2_contents_sub3">
													<div class="sp1mainService_div2_contents_sub4">
														<div class="sp1mainService_div2_contents_sub5">
															<div class="sp1mainService_div2_contents_sub6">
																<div class="sp1mainService_div2_contents_sub7">
																	<div class="sp1mainService_div2_contents_sub8">
																		<div class="sp1mainService_div2_contents_sub9">
																			<div class="sp1mainService_div2_contents_sub10">
																				<div class="sp1mainService_div2_contents_sub11">
																					<div class="sp1mainService_div2_contents_sub12">
																						<div class="sp1mainService_div2_contents_sub13">
																							<div class="sp1mainService_div2_contents_sub14">
																								<div class="sp1mainService_div2_contents_sub15">
																									<div class="sp1mainService_div2_contents_sub16">
																										<div class="sp1mainService_div2_contents_sub16_div1">
																											<div class="sp1mainService_div2_contents_sub16_div1_sub">
																												<div class="sp1mainService_div2_contents_sub16_div1_sub2">
																													<img src="/images/A1IdT_1g.png">
																												</div>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div2">
																											<div class="sp1mainService_div2_contents_sub16_div2_sub">
																												<div class="sp1mainService_div2_contents_sub16_div2_sub2">
																													<span></span>
																												</div>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div3">
																											<div class="sp1mainService_div2_contents_sub16_div3_sub">
																												<h2>금융 서비스</h2>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div4">
																											<div class="sp1mainService_div2_contents_sub16_div4_sub">
																												<div class="sp1mainService_div2_contents_sub16_div4_sub2">
																													<p>
																														뱅킹서비스 구축
																														<br>
																														보험서비스 구축
																														<br>
																														<br>
																													</p>
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- End -->

											<!-- 금융 서비스 빨간색 변환 부분 (함수가 아니라 CSS로 hover 지정)-->
											<div class="sp1mainService_div2_contents_sub2_red">
												<div class="sp1mainService_div2_contents_sub3">
													<div class="sp1mainService_div2_contents_sub4">
														<div class="sp1mainService_div2_contents_sub5">
															<div class="sp1mainService_div2_contents_sub6">
																<div class="sp1mainService_div2_contents_sub7_red">
																	<div class="sp1mainService_div2_contents_sub8">
																		<div class="sp1mainService_div2_contents_sub9">
																			<div class="sp1mainService_div2_contents_sub10">
																				<div class="sp1mainService_div2_contents_sub11_red">
																					<div class="sp1mainService_div2_contents_sub12">
																						<div class="sp1mainService_div2_contents_sub13">
																							<div class="sp1mainService_div2_contents_sub14">
																								<div class="sp1mainService_div2_contents_sub15">
																									<div class="sp1mainService_div2_contents_sub16" onclick="location.href='/business/finance';">
																										<div class="sp1mainService_div2_contents_sub16_div3">
																											<div class="sp1mainService_div2_contents_sub16_div3_sub_red">
																												<h2>금융 서비스</h2>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div4_red">
																											<div class="sp1mainService_div2_contents_sub16_div4_sub">
																												<div class="sp1mainService_div2_contents_sub16_div4_sub2">
																													<p>
																														뱅킹서비스 구축
																														<br>
																														보험서비스 구축
																														<br>
																														<br>
																													</p>
																												</div>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div2">
																											<div class="sp1mainService_div2_contents_sub16_div2_sub">
																												<div class="sp1mainService_div2_contents_sub16_div2_sub2">
																													<span></span>
																												</div>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div1">
																											<div class="sp1mainService_div2_contents_sub16_div1_sub">
																												<div class="sp1mainService_div2_contents_sub16_div1_sub2">
																													<img src="/images/A1IdT_1g_White.png">
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- End -->

										</div>
									</div>
									<div class="sp1mainService_div2_contents">
										<div class="sp1mainService_div2_contents_sub">

											<!-- 플랫폼 서비스 부분 -->
											<div class="sp1mainService_div2_contents_sub2">
												<div class="sp1mainService_div2_contents_sub3">
													<div class="sp1mainService_div2_contents_sub4">
														<div class="sp1mainService_div2_contents_sub5">
															<div class="sp1mainService_div2_contents_sub6">
																<div class="sp1mainService_div2_contents_sub7">
																	<div class="sp1mainService_div2_contents_sub8">
																		<div class="sp1mainService_div2_contents_sub9">
																			<div class="sp1mainService_div2_contents_sub10">
																				<div class="sp1mainService_div2_contents_sub11">
																					<div class="sp1mainService_div2_contents_sub12">
																						<div class="sp1mainService_div2_contents_sub13">
																							<div class="sp1mainService_div2_contents_sub14">
																								<div class="sp1mainService_div2_contents_sub15">
																									<div class="sp1mainService_div2_contents_sub16">
																										<div class="sp1mainService_div2_contents_sub16_div1">
																											<div class="sp1mainService_div2_contents_sub16_div1_sub">
																												<div class="sp1mainService_div2_contents_sub16_div1_sub2">
																													<img src="/images/HjLUfYJg.png">
																												</div>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div2">
																											<div class="sp1mainService_div2_contents_sub16_div2_sub">
																												<div class="sp1mainService_div2_contents_sub16_div2_sub2">
																													<span></span>
																												</div>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div3">
																											<div class="sp1mainService_div2_contents_sub16_div3_sub">
																												<h2>플랫폼 서비스</h2>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div4">
																											<div class="sp1mainService_div2_contents_sub16_div4_sub">
																												<div class="sp1mainService_div2_contents_sub16_div4_sub2">
																													<p>
																														다이렉트 계약시스템 구축
																														<br>
																														모바일 오피스 구축
																														<br>
																														<br>
																													</p>
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- End -->

											<!-- 플랫폼 서비스 빨간색 변환 부분 (함수가 아니라 CSS로 hover 지정)-->
											<div class="sp1mainService_div2_contents_sub2_red">
												<div class="sp1mainService_div2_contents_sub3">
													<div class="sp1mainService_div2_contents_sub4">
														<div class="sp1mainService_div2_contents_sub5">
															<div class="sp1mainService_div2_contents_sub6">
																<div class="sp1mainService_div2_contents_sub7_red">
																	<div class="sp1mainService_div2_contents_sub8">
																		<div class="sp1mainService_div2_contents_sub9">
																			<div class="sp1mainService_div2_contents_sub10">
																				<div class="sp1mainService_div2_contents_sub11_red">
																					<div class="sp1mainService_div2_contents_sub12">
																						<div class="sp1mainService_div2_contents_sub13">
																							<div class="sp1mainService_div2_contents_sub14">
																								<div class="sp1mainService_div2_contents_sub15">
																									<div class="sp1mainService_div2_contents_sub16" onclick="location.href='/business/platform';">
																										<div class="sp1mainService_div2_contents_sub16_div3">
																											<div class="sp1mainService_div2_contents_sub16_div3_sub_red">
																												<h2>플랫폼 서비스</h2>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div4_red">
																											<div class="sp1mainService_div2_contents_sub16_div4_sub">
																												<div class="sp1mainService_div2_contents_sub16_div4_sub2">
																													<p>
																														다이렉트 계약시스템 구축
																														<br>
																														모바일 오피스 구축
																														<br>
																														<br>
																													</p>
																												</div>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div2">
																											<div class="sp1mainService_div2_contents_sub16_div2_sub">
																												<div class="sp1mainService_div2_contents_sub16_div2_sub2">
																													<span></span>
																												</div>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div1">
																											<div class="sp1mainService_div2_contents_sub16_div1_sub">
																												<div class="sp1mainService_div2_contents_sub16_div1_sub2">
																													<img src="/images/HjLUfYJg_w.png">
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- End -->

										</div>
									</div>
									<div class="sp1mainService_div2_contents">
										<div class="sp1mainService_div2_contents_sub">

											<!-- 솔루션 서비스 부분 -->
											<div class="sp1mainService_div2_contents_sub2">
												<div class="sp1mainService_div2_contents_sub3">
													<div class="sp1mainService_div2_contents_sub4">
														<div class="sp1mainService_div2_contents_sub5">
															<div class="sp1mainService_div2_contents_sub6">
																<div class="sp1mainService_div2_contents_sub7">
																	<div class="sp1mainService_div2_contents_sub8">
																		<div class="sp1mainService_div2_contents_sub9">
																			<div class="sp1mainService_div2_contents_sub10">
																				<div class="sp1mainService_div2_contents_sub11">
																					<div class="sp1mainService_div2_contents_sub12">
																						<div class="sp1mainService_div2_contents_sub13">
																							<div class="sp1mainService_div2_contents_sub14">
																								<div class="sp1mainService_div2_contents_sub15">
																									<div class="sp1mainService_div2_contents_sub16">
																										<div class="sp1mainService_div2_contents_sub16_div1">
																											<div class="sp1mainService_div2_contents_sub16_div1_sub">
																												<div class="sp1mainService_div2_contents_sub16_div1_sub2">
																													<img src="/images/HrM0XX8w.png">
																												</div>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div2">
																											<div class="sp1mainService_div2_contents_sub16_div2_sub">
																												<div class="sp1mainService_div2_contents_sub16_div2_sub2">
																													<span></span>
																												</div>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div3">
																											<div class="sp1mainService_div2_contents_sub16_div3_sub">
																												<h2>솔루션 서비스</h2>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div4">
																											<div class="sp1mainService_div2_contents_sub16_div4_sub">
																												<div class="sp1mainService_div2_contents_sub16_div4_sub2">
																													<p>
																														전자금융 프레임워크
																														<br>
																														모바일 플랫폼 솔루션
																														<br>
																														위치기반 관제 솔루션
																													</p>
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- End -->

											<!-- 솔루션 서비스 빨간색 변환 부분 (함수가 아니라 CSS로 hover 지정)-->
											<div class="sp1mainService_div2_contents_sub2_red">
												<div class="sp1mainService_div2_contents_sub3">
													<div class="sp1mainService_div2_contents_sub4">
														<div class="sp1mainService_div2_contents_sub5">
															<div class="sp1mainService_div2_contents_sub6">
																<div class="sp1mainService_div2_contents_sub7_red">
																	<div class="sp1mainService_div2_contents_sub8">
																		<div class="sp1mainService_div2_contents_sub9">
																			<div class="sp1mainService_div2_contents_sub10">
																				<div class="sp1mainService_div2_contents_sub11_red">
																					<div class="sp1mainService_div2_contents_sub12">
																						<div class="sp1mainService_div2_contents_sub13">
																							<div class="sp1mainService_div2_contents_sub14">
																								<div class="sp1mainService_div2_contents_sub15">
																									<div class="sp1mainService_div2_contents_sub16" onclick="location.href='/business/solution';">
																										<div class="sp1mainService_div2_contents_sub16_div3">
																											<div class="sp1mainService_div2_contents_sub16_div3_sub_red">
																												<h2>솔루션 서비스</h2>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div4_red">
																											<div class="sp1mainService_div2_contents_sub16_div4_sub">
																												<div class="sp1mainService_div2_contents_sub16_div4_sub2">
																													<p>
																														전자금융 프레임워크
																														<br>
																														모바일 플랫폼 솔루션
																														<br>
																														위치기반 관제 솔루션
																													</p>
																												</div>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div2">
																											<div class="sp1mainService_div2_contents_sub16_div2_sub">
																												<div class="sp1mainService_div2_contents_sub16_div2_sub2">
																													<span></span>
																												</div>
																											</div>
																										</div>
																										<div class="sp1mainService_div2_contents_sub16_div1">
																											<div class="sp1mainService_div2_contents_sub16_div1_sub">
																												<div class="sp1mainService_div2_contents_sub16_div1_sub2">
																													<img src="/images/HrM0XX8w_w.png">
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- End -->

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sp1mainSlider">
	<div class="sp1mainSlider_sub">
		<div class="sp1mainSlider_sub2">
			<div class="sp1mainSlider_left">
				<div class="sp1mainSlider_left_sub">
					<div class="sp1mainSlider_left_sub2">
						<div class="sp1mainSlider_left_sub2_div1">
							<div class="sp1mainSlider_left_sub2_div1_sub">
								<h3>테스트용 사이트</h3>
							</div>
						</div>
						<div class="sp1mainSlider_left_sub2_div2">
							<div class="sp1mainSlider_left_sub2_div2_sub">
								<h2>Portfolio</h2>
							</div>
						</div>
						<div class="sp1mainSlider_left_sub2_div3">
							<div class="sp1mainSlider_left_sub2_div3_sub">
								<h2>
									끊임없는 경험과 노하우, 
									<br class="mobile-enter">
									그리고 최고의 솔루션을 바탕으로 
									<br class="mobile-enter">
									수많은 기업의 다양한 금융 IT사업을 
									<br class="desktop-enter">
									<br class="mobile-enter">
									성공적으로 이끌어 냈습니다.
								</h2>
							</div>
						</div>
						<div class="sp1mainSlider_left_sub2_div4">
							<div class="sp1mainSlider_left_sub2_div4_sub">
								<div class="sp1mainSlider_left_sub2_div4_sub2">
									<a href="/sub/portfolio">
										<span class="ment4_sub2_wrap">
											<span>구축실적 더보기</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sp1mainSlider_right">
				<div class="sp1mainSlider_right_sub">
					<div class="sp1mainSlider_right_sub2">
						<div class="sp1mainSlider_right_sub3">
							<div class="sp1mainSlider_right_sub4">
								<div class="sp1mainSlider_right_sub5">
									<div class="sp1mainSlider_right_sub6">
										<div class="sp1mainSlider_right_sub7">
											<div class="sp1mainSlider_right_sub7_div1">
												<i aria-hidden="true" class="fas fa-angle-left"></i>
											</div>
											<div class="sp1mainSlider_right_sub7_div2">												
											</div>
											<div class="sp1mainSlider_right_sub7_div3">
												<div class="sp1mainSlider_right_sub7_div3_sub" id="sp1sliderWrap">
													<div class="sp1mainSlider_right_sub7_div3_div1" id="sp1sliderList">

														<!-- 슬라이더 이미지 부분. 슬라이드 이미지 추가 시 script단 슬라이드 이벤트 부분 수정 필요. 처음과 끝 이미지가 동일해야 함. -->
														<div class="sp1mainSlider_slide1">
															<div class="sp1mainSlider_slide1_sub">
																<img src="/images/slideImg1.png">
															</div>
															<div class="sp1mainSlider_slide1_sub2">
																<div class="sp1mainSlider_slide1_sub2_sub">
																	<div class="sp1mainSlider_slide1_sub2_sub2">
																		<div class="sp1mainSlider_slide1_sub2_sub3">															
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="sp1mainSlider_slide1">
															<div class="sp1mainSlider_slide1_sub">
																<img src="/images/slideImg2.png">
															</div>
															<div class="sp1mainSlider_slide1_sub2">
																<div class="sp1mainSlider_slide1_sub2_sub">
																	<div class="sp1mainSlider_slide1_sub2_sub2">
																		<div class="sp1mainSlider_slide1_sub2_sub3">															
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="sp1mainSlider_slide1">
															<div class="sp1mainSlider_slide1_sub">
																<img src="/images/slideImg3.png">
															</div>
															<div class="sp1mainSlider_slide1_sub2">
																<div class="sp1mainSlider_slide1_sub2_sub">
																	<div class="sp1mainSlider_slide1_sub2_sub2">
																	</div>
																</div>
															</div>
														</div>
														<div class="sp1mainSlider_slide1">
															<div class="sp1mainSlider_slide1_sub">
																<img src="/images/slideImg1.png">
															</div>
															<div class="sp1mainSlider_slide1_sub2">
																<div class="sp1mainSlider_slide1_sub2_sub">
																	<div class="sp1mainSlider_slide1_sub2_sub2">
																		<div class="sp1mainSlider_slide1_sub2_sub3">															
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<!-- End -->

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- 슬라이드 이동 버튼 -->
						<div class="sp1mainSlider_right_sub2_arrowcolumn">
							<div class="sp1mainSlider_right_sub2_arrowcolumn_sub">
								<div class="sp1mainSlider_right_sub2_arrowcolumn_sub2" style="width: 3%;">
								</div>
								<div class="sp1mainSlider_right_sub2_arrowcolumn_sub2" id="btn_prev" style="width: 5%;">
									<div class="sp1mainSlider_arrow1">
										<i aria-hidden="true" class="fas fa-angle-left"></i>
									</div>
								</div>
								<div class="sp1mainSlider_right_sub2_arrowcolumn_sub2" style="width: 84%;">
								</div>
								<div class="sp1mainSlider_right_sub2_arrowcolumn_sub2" id="btn_next" style="width: 5%;">
									<div class="sp1mainSlider_arrow2">
										<i aria-hidden="true" class="fas fa-angle-right"></i>
									</div>
								</div>
								<div class="sp1mainSlider_right_sub2_arrowcolumn_sub2" style="width: 3%;">
								</div>
							</div>
						</div>
						<!-- End -->

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sp1mainPartner">
	<div class="sp1mainPartner_sub">
		<div class="sp1mainPartner_sub2">

			<!-- 고객사 리스트 부분. 고객사 이미지 추가 시 화면 크기에 맞춰서 이미지가 축소됨 -->
			<div class="sp1mainPartner_list">
				<div class="sp1mainPartner_list_sub">
					<div class="sp1mainPartner_list_sub2">
						<div class="sp1mainPartner_list_sub3">
							<div class="sp1mainPartner_list_sub4">
								<div class="sp1mainPartner_list_sub5">
									<img src="/images/b1.jpg">									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sp1mainPartner_list">
				<div class="sp1mainPartner_list_sub">
					<div class="sp1mainPartner_list_sub2">
						<div class="sp1mainPartner_list_sub3">
							<div class="sp1mainPartner_list_sub4">
								<div class="sp1mainPartner_list_sub5">
									<img src="/images/하나손해보험.jpg">										
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sp1mainPartner_list">
				<div class="sp1mainPartner_list_sub">
					<div class="sp1mainPartner_list_sub2">
						<div class="sp1mainPartner_list_sub3">
							<div class="sp1mainPartner_list_sub4">
								<div class="sp1mainPartner_list_sub5">
									<img src="/images/b2.jpg">										
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sp1mainPartner_list">
				<div class="sp1mainPartner_list_sub">
					<div class="sp1mainPartner_list_sub2">
						<div class="sp1mainPartner_list_sub3">
							<div class="sp1mainPartner_list_sub4">
								<div class="sp1mainPartner_list_sub5">
									<img src="/images/b4.jpg">										
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sp1mainPartner_list">
				<div class="sp1mainPartner_list_sub">
					<div class="sp1mainPartner_list_sub2">
						<div class="sp1mainPartner_list_sub3">
							<div class="sp1mainPartner_list_sub4">
								<div class="sp1mainPartner_list_sub5">
									<img src="/images/현대해상_2.jpg">									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sp1mainPartner_list">
				<div class="sp1mainPartner_list_sub">
					<div class="sp1mainPartner_list_sub2">
						<div class="sp1mainPartner_list_sub3">
							<div class="sp1mainPartner_list_sub4_red">
								<ul>
									<li>
										<a href="/sub/partner">
											<span>+</span>
										</a>									
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End -->

		</div>
	</div>
</div>

<div class="sp1mainFooter">
	<div class="sp1mainFooter_sub">
		<div class="sp1mainFooter_sub2">
			<div class="sp1mainFooter_sub2_div1">
				<div class="sp1mainFooter_sub2_div1_sub">
					<div class="sp1mainFooter_sub2_div1_sub2">				
					</div>
				</div>
			</div>
			<div class="sp1mainFooter_sub2_div2">
				<div class="sp1mainFooter_sub2_div2_sub">
					<div class="sp1mainFooter_sub2_div2_sub2">
						<div class="sp1mainFooter_sub2_div2_sub2_div1">
							<div class="sp1mainFooter_sub2_div2_sub2_div1_sub">
								<h3>
									핀테크 분야의
									<Br>										
									대표 IT기업
								</h3>
							</div>
						</div>
						<div class="sp1mainFooter_sub2_div2_sub2_div2">
							<div class="sp1mainFooter_sub2_div2_sub2_div2_sub">
								<h2>테스트용 사이트</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sp1mainFooter_sub2_div3">
				<div class="sp1mainFooter_sub2_div3_sub">
					<div class="sp1mainFooter_sub2_div3_sub2">
						<div class="sp1mainFooter_sub2_div3_sub2_div1">
							<div class="sp1mainFooter_sub2_div3_sub2_div1_sub">
								<h2>
									금융공학적 분석기반으로
									<br>
									금융시스템 구축 및 운용까지
									<br>
									최고의 금융솔루션을 제공합니다.
								</h2>
							</div>
						</div>
						<div class="sp1mainFooter_sub2_div3_sub2_div2">
							<div class="sp1mainFooter_sub2_div3_sub2_div2_sub">
								<div class="sp1mainFooter_sub2_div3_sub2_div2_sub2">
									<a class="sp1mainFooter_detail" href="/solution/sp1-apps">
										<span class="sp1mainFooter_detail_sub">
											<span class="sp1mainFooter_detail_sub2">자세히 보기</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sp1mainFooter_sub2_div4">
				<div class="sp1mainFooter_sub2_div4_sub">
					<div class="sp1mainFooter_sub2_div4_sub2">				
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('./common/footer.ejs') %>
<script>
$(function() {
    $(function init() {   
		var sliderWrap = document.getElementById('sp1sliderWrap');
		var sliderList = document.getElementById('sp1sliderList');
		var sliderDiv = document.querySelectorAll('.sp1mainSlider_slide1');
		var sliderLen = sliderDiv.length;
		var width = sliderWrap.offsetWidth;
		var prevBtn = document.querySelector("#btn_prev");
		var nextBtn = document.querySelector("#btn_next");	
		var idx = 0;

		sliderList.style.width = width * sliderLen;

		// 화면 크기에 따른 슬라이드 크기 조절 이벤트.
		function setDisplay() {
			var containerWidth = sliderWrap.offsetWidth;
			var sliderItemWidth = (containerWidth * sliderLen) / sliderLen;
			width = sliderItemWidth;
			var slideImg = document.querySelectorAll('.sp1mainSlider_slide1_sub > img');
			sliderList.style.width = (sliderItemWidth * sliderLen) + 'px';
			for(var i = 0; i < sliderLen; i++) {
				sliderDiv[i].style.width = (sliderItemWidth) + 'px';
				slideImg[i].style.width = (sliderItemWidth) + 'px';
			}
		}	

		// 화면 사이즈 수정시 발생하는 이벤트
		window.addEventListener('resize', function() {
			setDisplay();
		});
		
		/*
		슬라이드 이전 버튼 클릭 이벤트
		처음 - 두번째 - 세번째 - 네번째(처음 이미지와 동일)으로 슬라이드가 구성
		이동순서 : 처음 -> 네번째 -> 세번째 -> 두번째
		처음에서 네번째 슬라이드로 이동하는 경우 0.01초 후에 슬라이드가 이동한 다음에 세번째 슬라이드로 이동 : 이미지가 동일하기 때문
		-> 슬라이드 이동을 자연스럽게 하기 위해서 이러한 방법을 사용.
		   처음 슬라이드와 끝 슬라이드 이미지가 같지 않으면 px단위로 이동하기 때문에 자연스럽게 이동하는 것으로 보여지지 않고 처음부터 끝까지 이동하는 것이 다 보여지기 때문.
		   ex) 0에서 -1600px로 다시 이동하는 개념.
		*/
		function slidePrev() {
			idx -= 1;
			sliderList.style.transition = 1000 + 'ms';

			if(idx > -1) {
				sliderList.style.left = -(width * idx) + 'px';		
			}else {
				idx = 3;
				sliderList.style.transition = 0 + 'ms';
				sliderList.style.left = -(width * idx) + 'px';
				setTimeout(function() {
					idx = 2;
					sliderList.style.transition = 1000 + 'ms';
					sliderList.style.left = -(width * idx) + 'px';
				}, 10);
			}	
		}

		/*
		슬라이드 다음 버튼 클릭 이벤트
		처음 - 두번째 - 세번째 - 네번째(처음 이미지와 동일)으로 슬라이드가 구성
		이동순서 : 처음 -> 두번째 -> 세번째 -> 네번째
		네번째에서 처음 슬라이드로 이동하는 경우 0.01초 후에 슬라이드가 이동한 다음에 두번째 슬라이드로 이동 : 이미지가 동일하기 때문
		-> 슬라이드 이동을 자연스럽게 하기 위해서 이러한 방법을 사용.
		   처음 슬라이드와 끝 슬라이드 이미지가 같지 않으면 px단위로 이동하기 때문에 자연스럽게 이동하는 것으로 보여지지 않고 처음부터 끝까지 이동하는 것이 다 보여지기 때문.
		   ex) 1600px에서 0으로 다시 이동하는 개념.
		*/
		function slideNext() {
			idx += 1;
			sliderList.style.transition = 1000 + 'ms';

			if(idx < 4) {		
				sliderList.style.left = -(width * idx) + 'px';					
			}else {		
				idx = 0;
				sliderList.style.transition = 0 + 'ms';
				sliderList.style.left = -(width * idx) + 'px';	
				setTimeout(function() {
					idx = 1;
					sliderList.style.transition = 1000 + 'ms';
					sliderList.style.left = -(width * idx) + 'px';
				}, 10);
			}		
		}

		// 3초 간격으로 슬라이드 이동
		function move() {	
			setInterval(function() {
				slideNext();
			}, 3000);
		}
		setDisplay();
		move();

		prevBtn.addEventListener("click", function() {
			slidePrev();
		});
		
		nextBtn.addEventListener("click", function() {
			slideNext();
		});
	});
});    	
</script>