<%- include('../common/header.ejs') %>

<title>금융 서비스 - 테스트용 사이트</title>
<div class="sp1TopContents">
	<div class="sp1Top">
		<div class="sp1Top_sub">
			<div class="sp1Top_sub2">
				<div class="sp1Top_sub3">
					<div class="sp1Top_sub4">
						<div class="sp1Top_sub5">
							<div class="sp1Top_sub6">
								<div class="sp1Top_sub7">
									<div class="sp1Top_sub8">
										<div class="sp1Top_sub9">

											<!-- 상단 배경이미지 부분. common.css 593번 라인 background-image -->
											<div class="sp1Top_sub10_business">
											<!-- End -->

												<div class="sp1Top_sub11">
													<div class="sp1Top_sub12">
														<div class="sp1Top_sub13">
															<div class="sp1Top_sub14">
																<div class="sp1Top_sub15">
																	<div class="sp1Top_sub15">
																		<div class="sp1Top_sub16">
																			<div class="sp1Top_sub17">

																				<!-- 상단 큰글씨 메뉴명 -->
																				<h1>금융 서비스</h1>
																				<!-- End -->

																			</div>												
																		</div>
																		<div class="sp1Top_sub18">
																			<div class="sp1Top_sub19">
																				<div class="sp1Top_sub20">
																					<div class="sp1Top_sub21">
																						<div class="sp1Top_sub22">
																							<div class="sp1Top_sub23">

																								<!-- 상단 작은글씨 메뉴 -->
																								<div class="sp1Top_sub24">
																									<a href="/" class="sub24_Link">테스트용 사이트</a>																				
																								</div>	
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/business/finance" class="sub24_Link">사업분야</a>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/business/finance" class="sub24_Link">금융 서비스</a>																				
																								</div>
																								<!-- End -->

																							</div>																					
																						</div>	
																					</div>																					
																				</div>																					
																			</div>												
																		</div>																															
																	</div>													
																</div>												
															</div>												
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sp1Business">
	<div class="sp1Business_sub">
		<div class="sp1Business_sub2">
			<div class="sp1Business_sub3">
				<div class="sp1Business_sub4">
					<div class="sp1Business_sub5">
						<div class="sp1Business_sub6">
							<div class="sp1Business_sub7">
								<div class="sp1Business_sub8">
									<div class="sp1Business_sub9">
										<div class="sp1Business_sub10">
											<div class="sp1Business_sub11">
												<div class="sp1Business_sub11_sub">
													<div class="sp1Business_sub11_sub2">
														<div class="sp1Business_sub11_sub3">
															<div class="sp1Business_sub11_sub4">
																<div class="sp1Business_sub11_sub5">
																	<div class="sp1Business_sub11_sub6">
																		<div class="sp1Business_sub11_sub7">
																			<div class="sp1Business_sub11_sub8">
																				<div class="sp1Business_sub11_sub9">
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<!-- 반복 구간. 왼쪽 텍스트, 오른쪽 이미지. 데이터 추가 필요 경우 이 부분에서부터 End 구간까지 복사 붙여넣기로 작업 -->	
											<div class="sp1Business_sub12">
												<div class="sp1Business_sub12_sub">
													<div class="sp1Business_sub12_sub2">
														<div class="sp1Business_sub12_sub3">
															<div class="sp1Business_sub12_sub4">
																<div class="sp1Business_sub12_sub5">
																	<div class="sp1Business_sub12_sub5_sub">
																		<div class="sp1Business_sub12_sub5_sub_sub">
																			<div class="sp1Business_sub12_sub5_sub_sub2">																				
																				<span></span>								
																			</div>	
																		</div>	
																	</div>
																	<div class="sp1Business_sub12_sub5_sub2">
																		<div class="sp1Business_sub12_sub5_sub2_sub">
																			<div class="sp1Business_sub12_sub5_sub2_sub2">
																				<div class="sp1Business_sub12_sub5_sub2_sub3">
																					<div class="sp1Business_sub12_sub5_sub2_sub3_sub">
																						<div class="sp1Business_sub12_sub5_sub2_sub3_sub2">
																							<div class="sp1Business_sub12_sub5_sub2_sub3_sub3">
																								<div class="sp1Business_sub12_sub5_sub2_sub3_sub3_sub">
																									<h3>
																										뱅킹서비스
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										(Banking Service)
																										<br class="desktop-enter">
																										<br class="mobile-enter">
																										구축
																									</h3>
																								</div>
																							</div>
																							<div class="sp1Business_sub12_sub5_sub2_sub3_sub4">
																								<div class="sp1Business_sub12_sub5_sub2_sub3_sub4_sub">
																									<h6>
																										시중은행 및 저축은행의 다양한 프로젝트를
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										성공적으로 구축함으로써
																										<br class="desktop-enter">
																										이체서비스를
																										<br class="mobile-enter">
																										비롯한
																										<br class="tablet-enter">
																										은행의 주요 뱅킹서비스와 대고객
																										<br class="mobile-enter">
																										서비스를
																										<br class="tablet-enter">
																										개발함에
																										<br class="desktop-enter">
																										있어 전문가적인 역량과
																										<br class="mobile-enter">
																										노하우를
																										<br class="tablet-enter">
																										바탕으로 최신 트랜드를 반영한
																										<br class="mobile-enter">
																										최적의
																										<br class="desktop-enter">
																										서비스를 제공합니다.
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Business_sub12_sub5_sub2_sub4">
																					<div class="sp1Business_sub12_sub5_sub2_sub4_sub">
																						<div class="sp1Business_sub12_sub5_sub2_sub4_sub2">
																							<div class="sp1Business_sub12_sub5_sub2_sub4_sub3">
																								<div class="sp1Business_sub12_sub5_sub2_sub4_sub4">
																									<div class="sp1Business_sub12_sub5_sub2_sub4_sub5">
																										<img src="/images/finance_img1.jpg">
																									</div>	
																								</div>	
																							</div>	
																						</div>	
																					</div>	
																				</div>	
																			</div>	
																		</div>	
																	</div>
																	<div class="sp1Business_sub12_sub5_sub">
																		<div class="sp1Business_sub12_sub5_sub_sub">
																			<div class="sp1Business_sub12_sub5_sub_sub2">
																				<span></span>
																			</div>	
																		</div>	
																	</div>		
																</div>	
															</div>	
														</div>	
													</div>	
												</div>	
											</div>
											<!-- End -->

											<!-- 중간 공백 공간 -->		
											<div class="sp1Business_sub14">
												<div class="sp1Business_sub14_sub">
													<div class="sp1Business_sub14_sub2">
														<div class="sp1Business_sub14_sub3">
															<div class="sp1Business_sub14_sub4">
																<div class="sp1Business_sub14_sub5">
																	<div class="sp1Business_sub14_sub6">
																		<div class="sp1Business_sub14_sub7">
																			<div class="sp1Business_sub14_sub8">
																				<div class="sp1Business_sub14_sub9">												
																				</div>	
																			</div>	
																		</div>	
																	</div>	
																</div>	
															</div>	
														</div>	
													</div>	
												</div>	
											</div>	
											<!-- End -->

											<!-- 반복 구간. 왼쪽 이미지, 오른쪽 텍스트. 데이터 추가 필요 경우 이 부분에서부터 End 구간까지 복사 붙여넣기로 작업 -->	
											<div class="sp1Business_sub12">
												<div class="sp1Business_sub12_sub">
													<div class="sp1Business_sub12_sub2">
														<div class="sp1Business_sub12_sub3">
															<div class="sp1Business_sub12_sub4">
																<div class="sp1Business_sub12_sub5">
																	<div class="sp1Business_sub12_sub5_sub">
																		<div class="sp1Business_sub12_sub5_sub_sub">
																			<div class="sp1Business_sub12_sub5_sub_sub2">																				
																				<span></span>								
																			</div>	
																		</div>	
																	</div>
																	<div class="sp1Business_sub13">
																		<div class="sp1Business_sub13_sub">
																			<div class="sp1Business_sub13_sub2">
																				<div class="sp1Business_sub13_sub3">
																					<div class="sp1Business_sub13_sub4">
																						<div class="sp1Business_sub13_sub5">
																							<div class="sp1Business_sub13_sub6">
																								<div class="sp1Business_sub13_sub7">
																									<div class="sp1Business_sub13_sub8">																										
																										<img src="/images/finance_img2.jpg">																										
																									</div>	
																								</div>	
																							</div>	
																						</div>	
																					</div>	
																				</div>
																				<div class="sp1Business_sub13_sub9">
																					<div class="sp1Business_sub12_sub5_sub2_sub3_sub">
																						<div class="sp1Business_sub12_sub5_sub2_sub3_sub2">
																							<div class="sp1Business_sub12_sub5_sub2_sub3_sub3">
																								<div class="sp1Business_sub12_sub5_sub2_sub3_sub3_sub">
																									<h3>
																										보험서비스
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										(Insurance Service)
																										<br class="desktop-enter">
																										<br class="mobile-enter">
																										구축
																									</h3>
																								</div>
																							</div>
																							<div class="sp1Business_sub12_sub5_sub2_sub3_sub4">
																								<div class="sp1Business_sub12_sub5_sub2_sub3_sub4_sub">
																									<h6>
																										다이렉트 자동차보험, 운전자보험, 보상업무
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										시스템, 긴급/현장 출동
																										<br class="desktop-enter">
																										관제시스템 등 다양한
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										보험업무 관련 시스템을 성공적으로
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										구축하였으며,																									
																										<br class="desktop-enter">
																										고객이 필요로 하는 IT시스템을
																										<br class="tablet-enter">
																										기획에서
																										<br class="mobile-enter">
																										구축, 운영까지 고객맞춤형
																										<br class="desktop-enter">
																										서비스를
																										<br class="tablet-enter">
																										제공합니다.
																										<br class="mobile-enter">
																										특히, 모바일시스템 구축은 앱 오류율
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										zero와
																										<br class="desktop-enter">
																										업계 1위를 목표로 하고 있습니다.
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>	
																			</div>	
																		</div>	
																	</div>		
																	<div class="sp1Business_sub12_sub5_sub">
																		<div class="sp1Business_sub12_sub5_sub_sub">
																			<div class="sp1Business_sub12_sub5_sub_sub2">
																				<span></span>
																			</div>	
																		</div>	
																	</div>		
																</div>	
															</div>	
														</div>	
													</div>	
												</div>	
											</div>	
											<!-- End -->

											<!-- 하단 공백 공간 -->	
											<div class="sp1Business_sub11">
												<div class="sp1Business_sub11_sub">
													<div class="sp1Business_sub11_sub2">
														<div class="sp1Business_sub11_sub3">
															<div class="sp1Business_sub11_sub4">
																<div class="sp1Business_sub11_sub5">
																	<div class="sp1Business_sub11_sub6">
																		<div class="sp1Business_sub11_sub7">
																			<div class="sp1Business_sub11_sub8">
																				<div class="sp1Business_sub11_sub9">
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>	
											<!-- End -->
											
										</div>	
									</div>	
								</div>	
							</div>	
						</div>	
					</div>	
				</div>	
			</div>	
		</div>	
	</div>	
</div>
<%- include('../common/footer.ejs') %>