<%- include('../common/header.ejs') %>

<title>플랫폼 서비스 - 테스트용 사이트</title>
<div class="sp1TopContents">
	<div class="sp1Top">
		<div class="sp1Top_sub">
			<div class="sp1Top_sub2">
				<div class="sp1Top_sub3">
					<div class="sp1Top_sub4">
						<div class="sp1Top_sub5">
							<div class="sp1Top_sub6">
								<div class="sp1Top_sub7">
									<div class="sp1Top_sub8">
										<div class="sp1Top_sub9">

											<!-- 상단 배경이미지 부분. common.css 593번 라인 background-image -->
											<div class="sp1Top_sub10_business">
											<!-- End -->

												<div class="sp1Top_sub11">
													<div class="sp1Top_sub12">
														<div class="sp1Top_sub13">
															<div class="sp1Top_sub14">
																<div class="sp1Top_sub15">
																	<div class="sp1Top_sub15">
																		<div class="sp1Top_sub16">
																			<div class="sp1Top_sub17">

																				<!-- 상단 큰글씨 메뉴명 -->
																				<h1>플랫폼 서비스</h1>
																				<!-- End -->

																			</div>												
																		</div>
																		<div class="sp1Top_sub18">
																			<div class="sp1Top_sub19">
																				<div class="sp1Top_sub20">
																					<div class="sp1Top_sub21">
																						<div class="sp1Top_sub22">
																							<div class="sp1Top_sub23">

																								<!-- 상단 작은글씨 메뉴 -->
																								<div class="sp1Top_sub24">
																									<a href="/" class="sub24_Link">테스트용 사이트</a>																				
																								</div>	
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/business/finance" class="sub24_Link">사업분야</a>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/business/platform" class="sub24_Link">플랫폼 서비스</a>																				
																								</div>
																								<!-- End -->
																								
																							</div>																					
																						</div>	
																					</div>																					
																				</div>																					
																			</div>												
																		</div>																															
																	</div>													
																</div>												
															</div>												
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sp1Business">
	<div class="sp1Business_sub">
		<div class="sp1Business_sub2">
			<div class="sp1Business_sub3">
				<div class="sp1Business_sub4">
					<div class="sp1Business_sub5">
						<div class="sp1Business_sub6">
							<div class="sp1Business_sub7">
								<div class="sp1Business_sub8">
									<div class="sp1Business_sub9">
										<div class="sp1Business_sub10">
											<div class="sp1Business_sub11">
												<div class="sp1Business_sub11_sub">
													<div class="sp1Business_sub11_sub2">
														<div class="sp1Business_sub11_sub3">
															<div class="sp1Business_sub11_sub4">
																<div class="sp1Business_sub11_sub5">
																	<div class="sp1Business_sub11_sub6">
																		<div class="sp1Business_sub11_sub7">
																			<div class="sp1Business_sub11_sub8">
																				<div class="sp1Business_sub11_sub9">
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<!-- 반복 구간. 왼쪽 텍스트, 오른쪽 이미지. 데이터 추가 필요 경우 이 부분에서부터 End 구간까지 복사 붙여넣기로 작업 -->	
											<div class="sp1Business_sub12">
												<div class="sp1Business_sub12_sub">
													<div class="sp1Business_sub12_sub2">
														<div class="sp1Business_sub12_sub3">
															<div class="sp1Business_sub12_sub4">
																<div class="sp1Business_sub12_sub5">
																	<div class="sp1Business_sub12_sub5_sub">
																		<div class="sp1Business_sub12_sub5_sub_sub">
																			<div class="sp1Business_sub12_sub5_sub_sub2">																				
																				<span></span>								
																			</div>	
																		</div>	
																	</div>
																	<div class="sp1Business_sub12_sub5_sub2">
																		<div class="sp1Business_sub12_sub5_sub2_sub">
																			<div class="sp1Business_sub12_sub5_sub2_sub2">
																				<div class="sp1Business_sub12_sub5_sub2_sub3">
																					<div class="sp1Business_sub12_sub5_sub2_sub3_sub">
																						<div class="sp1Business_sub12_sub5_sub2_sub3_sub2">
																							<div class="sp1Business_sub12_sub5_sub2_sub3_sub3">
																								<div class="sp1Business_sub12_sub5_sub2_sub3_sub3_sub">
																									<h3>
																										다이렉트
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										계약시스템 구축
																									</h3>
																								</div>
																							</div>
																							<div class="sp1Business_sub12_sub5_sub2_sub3_sub4">
																								<div class="sp1Business_sub12_sub5_sub2_sub3_sub4_sub">
																									<h6>
																										중간 유통단계를 없애고 온라인 상에서
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										고객과 1:1로 직접 접촉하여
																										<br class="desktop-enter">
																										계약을 체결하는
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										방식으로 사라진 유통비용만큼 비용절감을
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										할 수 있는
																										<br class="desktop-enter">
																										계약시스템이며, 온라인 견적에서
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										가입까지 원활한 계약이 이루어지도록
																										<br class="desktop-enter">
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										시스템을 구축하여 드립니다.
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Business_sub12_sub5_sub2_sub4">
																					<div class="sp1Business_sub12_sub5_sub2_sub4_sub">
																						<div class="sp1Business_sub12_sub5_sub2_sub4_sub2">
																							<div class="sp1Business_sub12_sub5_sub2_sub4_sub3">
																								<div class="sp1Business_sub12_sub5_sub2_sub4_sub4">
																									<div class="sp1Business_sub12_sub5_sub2_sub4_sub5">
																										<img src="/images/platform_img1.jpg">
																									</div>	
																								</div>	
																							</div>	
																						</div>	
																					</div>	
																				</div>	
																			</div>	
																		</div>	
																	</div>
																	<div class="sp1Business_sub12_sub5_sub">
																		<div class="sp1Business_sub12_sub5_sub_sub">
																			<div class="sp1Business_sub12_sub5_sub_sub2">
																				<span></span>
																			</div>	
																		</div>	
																	</div>		
																</div>	
															</div>	
														</div>	
													</div>	
												</div>	
											</div>	
											<!-- End -->

											<!-- 중간 공백 공간 -->																							
											<div class="sp1Business_sub14">
												<div class="sp1Business_sub14_sub">
													<div class="sp1Business_sub14_sub2">
														<div class="sp1Business_sub14_sub3">
															<div class="sp1Business_sub14_sub4">
																<div class="sp1Business_sub14_sub5">
																	<div class="sp1Business_sub14_sub6">
																		<div class="sp1Business_sub14_sub7">
																			<div class="sp1Business_sub14_sub8">
																				<div class="sp1Business_sub14_sub9">												
																				</div>	
																			</div>	
																		</div>	
																	</div>	
																</div>	
															</div>	
														</div>	
													</div>	
												</div>	
											</div>	
											<!-- End -->

											<!-- 반복 구간. 왼쪽 이미지, 오른쪽 텍스트. 데이터 추가 필요 경우 이 부분에서부터 End 구간까지 복사 붙여넣기로 작업 -->	
											<div class="sp1Business_sub12">
												<div class="sp1Business_sub12_sub">
													<div class="sp1Business_sub12_sub2">
														<div class="sp1Business_sub12_sub3">
															<div class="sp1Business_sub12_sub4">
																<div class="sp1Business_sub12_sub5">
																	<div class="sp1Business_sub12_sub5_sub">
																		<div class="sp1Business_sub12_sub5_sub_sub">
																			<div class="sp1Business_sub12_sub5_sub_sub2">																				
																				<span></span>								
																			</div>	
																		</div>	
																	</div>
																	<div class="sp1Business_sub13">
																		<div class="sp1Business_sub13_sub">
																			<div class="sp1Business_sub13_sub2">
																				<div class="sp1Business_sub13_sub3">
																					<div class="sp1Business_sub13_sub4">
																						<div class="sp1Business_sub13_sub5">
																							<div class="sp1Business_sub13_sub6">
																								<div class="sp1Business_sub13_sub7">
																									<div class="sp1Business_sub13_sub8">																										
																										<img src="/images/platform_img2.jpg">																										
																									</div>	
																								</div>	
																							</div>	
																						</div>	
																					</div>	
																				</div>
																				<div class="sp1Business_sub13_sub9">
																					<div class="sp1Business_sub12_sub5_sub2_sub3_sub">
																						<div class="sp1Business_sub12_sub5_sub2_sub3_sub2">
																							<div class="sp1Business_sub12_sub5_sub2_sub3_sub3">
																								<div class="sp1Business_sub12_sub5_sub2_sub3_sub3_sub">
																									<h3>
																										모바일 오피스 구축
																									</h3>
																								</div>
																							</div>
																							<div class="sp1Business_sub12_sub5_sub2_sub3_sub4">
																								<div class="sp1Business_sub12_sub5_sub2_sub3_sub4_sub">
																									<h6>
																										향상된 기능의 스마트폰 및 태블릿 사용확대로
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										모바일 업무시스템의
																										<br class="desktop-enter">
																										필요성과 업무 효율성
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										제고에 대한 Needs가 증가함에 따라 모바일
																										<br class="mobile-enter">
																										업무
																										<br class="desktop-enter">
																										<br class="tablet-enter">																										
																										시스템을 구축함에 있어 신속한 개발과
																										<br class="mobile-enter">
																										사용자
																										<br class="tablet-enter">
																										중심의 시스템이 되도록
																										<br class="desktop-enter">
																										지원합니다.
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>	
																			</div>	
																		</div>	
																	</div>		
																	<div class="sp1Business_sub12_sub5_sub">
																		<div class="sp1Business_sub12_sub5_sub_sub">
																			<div class="sp1Business_sub12_sub5_sub_sub2">
																				<span></span>
																			</div>	
																		</div>	
																	</div>		
																</div>	
															</div>	
														</div>	
													</div>	
												</div>	
											</div>	
											<!-- End -->

											<!-- 하단 공백 공간 -->												
											<div class="sp1Business_sub11">
												<div class="sp1Business_sub11_sub">
													<div class="sp1Business_sub11_sub2">
														<div class="sp1Business_sub11_sub3">
															<div class="sp1Business_sub11_sub4">
																<div class="sp1Business_sub11_sub5">
																	<div class="sp1Business_sub11_sub6">
																		<div class="sp1Business_sub11_sub7">
																			<div class="sp1Business_sub11_sub8">
																				<div class="sp1Business_sub11_sub9">
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>	
											<!-- End -->
											
										</div>	
									</div>	
								</div>	
							</div>	
						</div>	
					</div>	
				</div>	
			</div>	
		</div>	
	</div>	
</div>
<%- include('../common/footer.ejs') %>