<%- include('../common/header.ejs') %>

<title>솔루션 서비스 - 테스트용 사이트</title>
<div class="sp1TopContents">
	<div class="sp1Top">
		<div class="sp1Top_sub">
			<div class="sp1Top_sub2">
				<div class="sp1Top_sub3">
					<div class="sp1Top_sub4">
						<div class="sp1Top_sub5">
							<div class="sp1Top_sub6">
								<div class="sp1Top_sub7">
									<div class="sp1Top_sub8">
										<div class="sp1Top_sub9">

											<!-- 상단 배경이미지 부분. common.css 593번 라인 background-image -->
											<div class="sp1Top_sub10_business">
											<!-- End -->

												<div class="sp1Top_sub11">
													<div class="sp1Top_sub12">
														<div class="sp1Top_sub13">
															<div class="sp1Top_sub14">
																<div class="sp1Top_sub15">
																	<div class="sp1Top_sub15">
																		<div class="sp1Top_sub16">
																			<div class="sp1Top_sub17">

																				<!-- 상단 큰글씨 메뉴명 -->
																				<h1>솔루션 서비스</h1>
																				<!-- End -->

																			</div>												
																		</div>
																		<div class="sp1Top_sub18">
																			<div class="sp1Top_sub19">
																				<div class="sp1Top_sub20">
																					<div class="sp1Top_sub21">
																						<div class="sp1Top_sub22">
																							<div class="sp1Top_sub23">

																								<!-- 상단 작은글씨 메뉴 -->
																								<div class="sp1Top_sub24">
																									<a href="/" class="sub24_Link">테스트용 사이트</a>																				
																								</div>	
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/business/finance" class="sub24_Link">사업분야</a>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/business/solution" class="sub24_Link">솔루션 서비스</a>																				
																								</div>	
																								<!-- End -->
																								
																							</div>																					
																						</div>	
																					</div>																					
																				</div>																					
																			</div>												
																		</div>																															
																	</div>													
																</div>												
															</div>												
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sp1Business">
	<div class="sp1Business_sub">
		<div class="sp1Business_sub2">
			<div class="sp1Business_sub3">
				<div class="sp1Business_sub4">
					<div class="sp1Business_sub5">
						<div class="sp1Business_sub6">
							<div class="sp1Business_sub7">
								<div class="sp1Business_sub8">
									<div class="sp1Business_sub9">
										<div class="sp1Business_sub10">
											<div class="sp1Business_sub11">
												<div class="sp1Business_sub11_sub">
													<div class="sp1Business_sub11_sub2">
														<div class="sp1Business_sub11_sub3">
															<div class="sp1Business_sub11_sub4">
																<div class="sp1Business_sub11_sub5">
																	<div class="sp1Business_sub11_sub6">
																		<div class="sp1Business_sub11_sub7">
																			<div class="sp1Business_sub11_sub8">
																				<div class="sp1Business_sub11_sub9">
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<!-- 반복 구간. 왼쪽 텍스트, 오른쪽 이미지. 데이터 추가 필요 경우 이 부분에서부터 End 구간까지 복사 붙여넣기로 작업 -->	
											<div class="sp1Business_sub12">
												<div class="sp1Business_sub12_sub">
													<div class="sp1Business_sub12_sub2">
														<div class="sp1Business_sub12_sub3">
															<div class="sp1Business_sub12_sub4">
																<div class="sp1Business_sub12_sub5">
																	<div class="sp1Business_sub12_sub5_sub">
																		<div class="sp1Business_sub12_sub5_sub_sub">
																			<div class="sp1Business_sub12_sub5_sub_sub2">																				
																				<span></span>								
																			</div>	
																		</div>	
																	</div>
																	<div class="sp1Business_sub12_sub5_sub2">
																		<div class="sp1Business_sub12_sub5_sub2_sub">
																			<div class="sp1Business_sub12_sub5_sub2_sub2">
																				<div class="sp1Business_sub12_sub5_sub2_sub3">
																					<div class="sp1Business_sub12_sub5_sub2_sub3_sub">
																						<div class="sp1Business_sub12_sub5_sub2_sub3_sub2">
																							<div class="sp1Business_sub12_sub5_sub2_sub3_sub3">
																								<div class="sp1Business_sub12_sub5_sub2_sub3_sub3_sub">
																									<h3>
																										전자금융 프레임워크
																									</h3>
																								</div>
																							</div>
																							<div class="sp1Business_sub12_sub5_sub2_sub3_sub4">
																								<div class="sp1Business_sub12_sub5_sub2_sub3_sub4_sub">
																									<h6>
																										기업내 개발되고 있는 비즈니스 시스템의
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										효율적인 개발 및 운영을 위한
																										<br class="desktop-enter">
																										오픈 소스 기반의
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										프레임워크로써, MVC Model을 기본개념으로
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										표준 JavaEE
																										<br class="desktop-enter">
																										플랫폼을 채용, JAVA 개발진영에
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										대한 범용성을 제공하여, 빠른 구현시간을 통해
																										<br class="desktop-enter">
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										개발공수를 절감시키고 향후 시스템 운영에
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										필요한 APM을 제공하여 안정적
																										<br class="desktop-enter">
																										시스템
																										<br class="mobile-enter">
																										운영을
																										<br class="tablet-enter">
																										도모합니다.
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Business_sub12_sub5_sub2_sub4">
																					<div class="sp1Business_sub12_sub5_sub2_sub4_sub">
																						<div class="sp1Business_sub12_sub5_sub2_sub4_sub2">
																							<div class="sp1Business_sub12_sub5_sub2_sub4_sub3">
																								<div class="sp1Business_sub12_sub5_sub2_sub4_sub4">
																									<div class="sp1Business_sub12_sub5_sub2_sub4_sub5">
																										<img src="/images/solution_img1.jpg">
																									</div>	
																								</div>	
																							</div>	
																						</div>	
																					</div>	
																				</div>	
																			</div>	
																		</div>	
																	</div>
																	<div class="sp1Business_sub12_sub5_sub">
																		<div class="sp1Business_sub12_sub5_sub_sub">
																			<div class="sp1Business_sub12_sub5_sub_sub2">
																				<span></span>
																			</div>	
																		</div>	
																	</div>		
																</div>	
															</div>	
														</div>	
													</div>	
												</div>	
											</div>		
											<!-- End -->

											<!-- 중간 공백 공간 -->	
											<div class="sp1Business_sub14">
												<div class="sp1Business_sub14_sub">
													<div class="sp1Business_sub14_sub2">
														<div class="sp1Business_sub14_sub3">
															<div class="sp1Business_sub14_sub4">
																<div class="sp1Business_sub14_sub5">
																	<div class="sp1Business_sub14_sub6">
																		<div class="sp1Business_sub14_sub7">
																			<div class="sp1Business_sub14_sub8">
																				<div class="sp1Business_sub14_sub9">												
																				</div>	
																			</div>	
																		</div>	
																	</div>	
																</div>	
															</div>	
														</div>	
													</div>	
												</div>	
											</div>	
											<!-- End -->

											<!-- 반복 구간. 왼쪽 이미지, 오른쪽 텍스트. 데이터 추가 필요 경우 이 부분에서부터 End 구간까지 복사 붙여넣기로 작업 -->	
											<div class="sp1Business_sub12">
												<div class="sp1Business_sub12_sub">
													<div class="sp1Business_sub12_sub2">
														<div class="sp1Business_sub12_sub3">
															<div class="sp1Business_sub12_sub4">
																<div class="sp1Business_sub12_sub5">
																	<div class="sp1Business_sub12_sub5_sub">
																		<div class="sp1Business_sub12_sub5_sub_sub">
																			<div class="sp1Business_sub12_sub5_sub_sub2">																				
																				<span></span>								
																			</div>	
																		</div>	
																	</div>
																	<div class="sp1Business_sub13">
																		<div class="sp1Business_sub13_sub">
																			<div class="sp1Business_sub13_sub2">
																				<div class="sp1Business_sub13_sub3">
																					<div class="sp1Business_sub13_sub4">
																						<div class="sp1Business_sub13_sub5">
																							<div class="sp1Business_sub13_sub6">
																								<div class="sp1Business_sub13_sub7">
																									<div class="sp1Business_sub13_sub8">																										
																										<img src="/images/solution_img2.jpg">																										
																									</div>	
																								</div>	
																							</div>	
																						</div>	
																					</div>	
																				</div>
																				<div class="sp1Business_sub13_sub9">
																					<div class="sp1Business_sub12_sub5_sub2_sub3_sub">
																						<div class="sp1Business_sub12_sub5_sub2_sub3_sub2">
																							<div class="sp1Business_sub12_sub5_sub2_sub3_sub3">
																								<div class="sp1Business_sub12_sub5_sub2_sub3_sub3_sub">
																									<h3>
																										모바일 플랫폼 솔루션
																									</h3>
																								</div>
																							</div>
																							<div class="sp1Business_sub12_sub5_sub2_sub3_sub4">
																								<div class="sp1Business_sub12_sub5_sub2_sub3_sub4_sub">
																									<h6>
																										다양한 모바일 OS와 Device에 최적화된
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										Application을 한 번에
																										<br class="desktop-enter">
																										개발할 수 있는 모바일
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										플랫폼으로 가볍고 빠르며 안정적인 서비스
																										<br class="desktop-enter">
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										환경을 제공하여, 모바일 운영의 편의성을
																										<br class="mobile-enter">
																										도모
																										<br class="tablet-enter">
																										하고 서비스 관리의
																										<br class="desktop-enter">
																										효율성을
																										<br class="mobile-enter">
																										증대시킵니다.
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>	
																			</div>	
																		</div>	
																	</div>		
																	<div class="sp1Business_sub12_sub5_sub">
																		<div class="sp1Business_sub12_sub5_sub_sub">
																			<div class="sp1Business_sub12_sub5_sub_sub2">
																				<span></span>
																			</div>	
																		</div>	
																	</div>		
																</div>	
															</div>	
														</div>	
													</div>	
												</div>	
											</div>	
											<!-- End -->

											<!-- 중간 공백 공간 -->			
											<div class="sp1Business_sub14">
												<div class="sp1Business_sub14_sub">
													<div class="sp1Business_sub14_sub2">
														<div class="sp1Business_sub14_sub3">
															<div class="sp1Business_sub14_sub4">
																<div class="sp1Business_sub14_sub5">
																	<div class="sp1Business_sub14_sub6">
																		<div class="sp1Business_sub14_sub7">
																			<div class="sp1Business_sub14_sub8">
																				<div class="sp1Business_sub14_sub9">												
																				</div>	
																			</div>	
																		</div>	
																	</div>	
																</div>	
															</div>	
														</div>	
													</div>	
												</div>	
											</div>	
											<!-- End -->

											<!-- 반복 구간. 왼쪽 텍스트, 오른쪽 이미지. 데이터 추가 필요 경우 이 부분에서부터 End 구간까지 복사 붙여넣기로 작업 -->	
											<div class="sp1Business_sub12">
												<div class="sp1Business_sub12_sub">
													<div class="sp1Business_sub12_sub2">
														<div class="sp1Business_sub12_sub3">
															<div class="sp1Business_sub12_sub4">
																<div class="sp1Business_sub12_sub5">
																	<div class="sp1Business_sub12_sub5_sub">
																		<div class="sp1Business_sub12_sub5_sub_sub">
																			<div class="sp1Business_sub12_sub5_sub_sub2">																				
																				<span></span>								
																			</div>	
																		</div>	
																	</div>
																	<div class="sp1Business_sub12_sub5_sub2">
																		<div class="sp1Business_sub12_sub5_sub2_sub">
																			<div class="sp1Business_sub12_sub5_sub2_sub2">
																				<div class="sp1Business_sub12_sub5_sub2_sub3">
																					<div class="sp1Business_sub12_sub5_sub2_sub3_sub">
																						<div class="sp1Business_sub12_sub5_sub2_sub3_sub2">
																							<div class="sp1Business_sub12_sub5_sub2_sub3_sub3">
																								<div class="sp1Business_sub12_sub5_sub2_sub3_sub3_sub">
																									<h3>
																										위치기반 관제 솔루션
																									</h3>
																								</div>
																							</div>
																							<div class="sp1Business_sub12_sub5_sub2_sub3_sub4">
																								<div class="sp1Business_sub12_sub5_sub2_sub3_sub4_sub">
																									<h6>
																										모바일 단말기를 통한 사용자의 현재 위치
																										<br class="mobile-enter">
																										정보를
																										<br class="tablet-enter">
																										활용하여 고객사의
																										<br class="desktop-enter">
																										비즈니스 서비스를
																										<br class="mobile-enter">
																										지원할 수
																										<br class="tablet-enter">
																										있도록 위치추적, 관제 그리고 위치
																										<br class="mobile-enter">
																										기반서비스를
																										<br class="desktop-enter">
																										<br class="tablet-enter">
																										위해 필요한 필수 기능과
																										<br class="mobile-enter">
																										컨텐츠를 제공함으로써
																										<br class="tablet-enter">
																										다양한 위치기반
																										<br class="mobile-enter">
																										서비스
																										<br class="desktop-enter">
																										개발을 용이하게
																										<br class="tablet-enter">
																										지원합니다.
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Business_sub12_sub5_sub2_sub4">
																					<div class="sp1Business_sub12_sub5_sub2_sub4_sub">
																						<div class="sp1Business_sub12_sub5_sub2_sub4_sub2">
																							<div class="sp1Business_sub12_sub5_sub2_sub4_sub3">
																								<div class="sp1Business_sub12_sub5_sub2_sub4_sub4">
																									<div class="sp1Business_sub12_sub5_sub2_sub4_sub5">
																										<img src="/images/solution_img3.jpg">
																									</div>	
																								</div>	
																							</div>	
																						</div>	
																					</div>	
																				</div>	
																			</div>	
																		</div>	
																	</div>
																	<div class="sp1Business_sub12_sub5_sub">
																		<div class="sp1Business_sub12_sub5_sub_sub">
																			<div class="sp1Business_sub12_sub5_sub_sub2">
																				<span></span>
																			</div>	
																		</div>	
																	</div>		
																</div>	
															</div>	
														</div>	
													</div>	
												</div>	
											</div>	
											<!-- End -->

											<!-- 하단 공백 공간 -->												
											<div class="sp1Business_sub11">
												<div class="sp1Business_sub11_sub">
													<div class="sp1Business_sub11_sub2">
														<div class="sp1Business_sub11_sub3">
															<div class="sp1Business_sub11_sub4">
																<div class="sp1Business_sub11_sub5">
																	<div class="sp1Business_sub11_sub6">
																		<div class="sp1Business_sub11_sub7">
																			<div class="sp1Business_sub11_sub8">
																				<div class="sp1Business_sub11_sub9">
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- End -->
											
										</div>	
									</div>	
								</div>	
							</div>	
						</div>	
					</div>	
				</div>	
			</div>	
		</div>	
	</div>	
</div>
<%- include('../common/footer.ejs') %>