<%- include('../common/header.ejs') %>

<title>SP1 Framework - 테스트용 사이트</title>
<div class="sp1TopContents">
	<div class="sp1Top">
		<div class="sp1Top_sub">
			<div class="sp1Top_sub2">
				<div class="sp1Top_sub3">
					<div class="sp1Top_sub4">
						<div class="sp1Top_sub5">
							<div class="sp1Top_sub6">
								<div class="sp1Top_sub7">
									<div class="sp1Top_sub8">
										<div class="sp1Top_sub9">
											<div class="sp1Top_sub10_solution">
												<div class="sp1Top_sub11">
													<div class="sp1Top_sub12">
														<div class="sp1Top_sub13">
															<div class="sp1Top_sub14">
																<div class="sp1Top_sub15">
																	<div class="sp1Top_sub15">
																		<div class="sp1Top_sub16">
																			<div class="sp1Top_sub17">
																				<h1>SP1 Framework</h1>
																			</div>												
																		</div>
																		<div class="sp1Top_sub18">
																			<div class="sp1Top_sub19">
																				<div class="sp1Top_sub20">
																					<div class="sp1Top_sub21">
																						<div class="sp1Top_sub22">
																							<div class="sp1Top_sub23">
																								<div class="sp1Top_sub24">
																									<a href="/" class="sub24_Link">테스트용 사이트</a>																				
																								</div>	
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/solution/sp1-apps" class="sub24_Link">솔루션</a>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/solution/sp1-framework" class="sub24_Link">SP1 Framework</a>																				
																								</div>																			
																							</div>																					
																						</div>	
																					</div>																					
																				</div>																					
																			</div>												
																		</div>																															
																	</div>													
																</div>												
															</div>												
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sp1Solution">
	<div class="sp1Solution_sub">
		<div class="sp1Solution_sub2">
			<div class="sp1Solution_sub3">
				<div class="sp1Solution_sub4">
					<div class="sp1Solution_sub5">
						<div class="sp1Solution_sub6">
							<div class="sp1Solution_sub7">
								<div class="sp1Solution_sub8">
									<div class="sp1Solution_sub9">
										<div class="sp1Solution_sub10">
											<div class="sp1Solution_sub10_Head">
												<div class="sp1Solution_sub10_Head_sub">
													<div class="sp1Solution_sub10_Head_sub2">
														<div class="sp1Solution_sub10_Head_sub3">
															<div class="sp1Solution_sub10_Head_sub4">
																<div class="sp1Solution_sub10_Head_sub5">
																	<div class="sp1Solution_sub10_Head_sub5_sub">
																		<div class="sp1Solution_sub10_Head_sub5_sub_sub">
																			<div class="sp1Solution_sub10_Head_sub5_sub_sub2">
																				<div class="sp1Solution_sub10_Head_sub5_sub_sub3">																
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Head_sub5_sub2">
																		<div class="sp1Solution_sub10_Head_sub5_sub2_sub">
																			<h1>금융권 및 비즈니스
																				<br class="tablet-enter">
																				<br class="mobile-enter">
																				전용 프레임워크
																			</h1>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Head_sub5_sub3">
																		<div class="sp1Solution_sub10_Head_sub5_sub3_sub">
																			<h6>
																				기업에서 개발되는 여러 비즈니스 시스템의
																				<br class="mobile-enter">
																				효율적인 개발 및 운영을 위한 오픈 소스 기반의
																				<br class="mobile-enter">
																				 프레임워크로,
																				<br class="desktop-enter">
																				<br class="tablet-enter">
																				 표준 JavaEE 플랫폼에 검증된
																				<br class="mobile-enter">
																				 디자인과 소스코드의 재사용을 통해 어플리케이션의
																				<br class="mobile-enter">
																				 개발 생산성을
																				<br class="tablet-enter">
																				 향상시키고,
																				<br class="desktop-enter">
																				 시스템의 운영 위험성을
																				<br class="mobile-enter">
																				 감소시키는 표준화된 개발, 운영환경을 제공합니다.
																			</h6>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="sp1Solution_sub10_Center">
												<div class="sp1Solution_sub10_Center_sub">
													<div class="sp1Solution_sub10_Center_sub2">
														<div class="sp1Solution_sub10_Center_sub3">
															<div class="sp1Solution_sub10_Center_sub4">
																<div class="sp1Solution_sub10_Center_sub5">
																	<div class="sp1Solution_sub10_Center_sub5_sub">
																		<div class="sp1Solution_sub10_Center_sub5_sub_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub_sub2">
																				<div class="sp1Solution_sub10_Center_sub5_sub_sub3">																	
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub2">
																		<div class="sp1Solution_sub10_Center_sub5_sub2_sub">
																			<h2>주요특징</h2>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub3">
																		<div class="sp1Solution_sub10_Center_sub5_sub3_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub3_sub2">
																				<span></span>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub4">
																		<div class="sp1Solution_sub10_Center_sub5_sub4_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub4_sub2">
																				<div class="sp1Solution_sub10_Center_sub5_sub4_sub3">
																					<div class="sp1Solution_sub10_Center_sub5_sub4_sub4">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Solution_sub10_Center_sub5_sub4_sub8">
																										<img src="/images/framework_img1.png">
																									</div>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub9">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub10">
																									<h5>개발 생산성 향상</h5>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub11">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub12">
																									<h6>개발도구를 통해 신속한 개발 환경을 구성하고,
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										 표준기반의 코드와 최소코드를 통한
																										<br class="mobile-enter">
																										 개발의
																										<br class="tablet-enter">
																										 편의성을 제공합니다.
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Solution_sub10_Center_sub5_sub4_sub3">
																					<div class="sp1Solution_sub10_Center_sub5_sub4_sub4">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Solution_sub10_Center_sub5_sub4_sub8">
																										<img src="/images/framework_img2.png">
																									</div>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub9">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub10">
																									<h5>안정적인 프레임워크 구축</h5>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub11">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub12">
																									<h6>검증된 SW에 기반하여 다양한
																										<br class="desktop-enter">
																										 개발환경에
																										<br class="tablet-enter">
																										 대한
																										<br class="mobile-enter">
																										 종합적인 평가를
																										<br class="desktop-enter">
																										 통해 선정한 신뢰할 수 있는
																										<br class="desktop-enter">
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										 오픈소스를 적극적으로 재사용
																										<br class="desktop-enter">
																										 하여 저렴하고
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										 안정적인 어플리
																										<br class="desktop-enter">
																										 케이션 프레임워크를 구축합니다.
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Solution_sub10_Center_sub5_sub4_sub3">
																					<div class="sp1Solution_sub10_Center_sub5_sub4_sub4">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Solution_sub10_Center_sub5_sub4_sub8">
																										<img src="/images/framework_img3.png">
																									</div>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub9">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub10">
																									<h5>대내외 인터페이스 연계</h5>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub11">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub12">
																									<h6>표준 Adapter를 통한 다양한 레거시 및
																										<br class="tablet-enter">
																										 대내외
																										<br class="mobile-enter">
																										 인터페이스와의 연계가
																										<br class="desktop-enter">
																										 용이하여,
																										<br class="tablet-enter">
																										<br class="mobile-enter">
																										 향후 신규 채널로의
																										<br class="desktop-enter">
																										 확장이 유연합니다.
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Solution_sub10_Center_sub5_sub4_sub3">
																					<div class="sp1Solution_sub10_Center_sub5_sub4_sub4">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Solution_sub10_Center_sub5_sub4_sub8">
																										<img src="/images/framework_img4.png">
																									</div>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub9">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub10">
																									<h5>실시간 모니터링 지원</h5>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub11">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub12">
																									<h6>APM을 통해 Transaction에 대한
																										<br class="desktop-enter">
																										 지연, Request
																										<br class="tablet-enter">
																										 유입 증감,
																										<br class="desktop-enter">
																										 Error Issue, 
																										<br class="mobile-enter">
																										이상 접근 사용자 등에 대해
																										<br class="tablet-enter">
																										 즉각적인 인지 및
																										<br class="desktop-enter">
																										 빠른 대응이 가능합니다.
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub5">
																		<div class="sp1Solution_sub10_Center_sub5_sub5_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub5_sub2">
																				<span></span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="sp1Solution_sub10_Footer">
												<div class="sp1Solution_sub10_Footer_sub">
													<div class="sp1Solution_sub10_Footer_sub2">
														<div class="sp1Solution_sub10_Footer_sub3">
															<div class="sp1Solution_sub10_Footer_sub4">
																<div class="sp1Solution_sub10_Footer_sub5">
																	<div class="sp1Solution_sub10_Footer_sub6">
																		<div class="sp1Solution_sub10_Footer_sub6_sub">
																			<div class="sp1Solution_sub10_Footer_sub6_sub2">
																				<div class="sp1Solution_sub10_Footer_sub6_sub3">																		
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Footer_sub7">
																		<div class="sp1Solution_sub10_Footer_sub7_sub">
																			<h2>도입효과</h2>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Footer_sub8">
																		<div class="sp1Solution_sub10_Footer_sub8_sub">
																			<div class="sp1Solution_sub10_Footer_sub8_sub2">
																				<div class="sp1Solution_sub10_Footer_sub8_sub3">
																					<div class="sp1Solution_sub10_Footer_sub8_sub4">
																						<div class="sp1Solution_sub10_Footer_sub8_sub5">
																							<div class="sp1Solution_sub10_Footer_sub8_sub6">
																								<div class="sp1Solution_sub10_Footer_sub8_sub7">
																									<h2>01</h2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Solution_sub10_Footer_sub8_sub8">
																					<div class="sp1Solution_sub10_Footer_sub8_sub9">
																						<div class="sp1Solution_sub10_Footer_sub8_sub10">
																							<div class="sp1Solution_sub10_Footer_sub8_sub11">
																								<div class="sp1Solution_sub10_Footer_sub8_sub12">
																									<h2>관리 및 운영의 용이성
																										<br class="mobile-enter">
																										(표준화된 아키텍처)
																									</h2>
																								</div>
																								<div class="sp1Solution_sub10_Footer_sub8_sub13">
																									<div class="sp1Solution_sub10_Footer_sub8_sub14">
																										<h6>
																											같은 어플리케이션 프레임워크가
																											<br class="mobile-enter">
																											 사용된 어플리케이션들은 서로 비슷한
																											<br class="mobile-enter">																											
																											 구조를 가지게
																											<br class="tablet-enter">
																											 되어 어플리케이션의
																											<br class="mobile-enter">
																											 관리와 운영이 용이합니다.
																										</h6>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Footer_sub8">
																		<div class="sp1Solution_sub10_Footer_sub8_sub">
																			<div class="sp1Solution_sub10_Footer_sub8_sub2">
																				<div class="sp1Solution_sub10_Footer_sub8_sub3">
																					<div class="sp1Solution_sub10_Footer_sub8_sub4">
																						<div class="sp1Solution_sub10_Footer_sub8_sub5">
																							<div class="sp1Solution_sub10_Footer_sub8_sub6">
																								<div class="sp1Solution_sub10_Footer_sub8_sub7">
																									<h2>02</h2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Solution_sub10_Footer_sub8_sub8">
																					<div class="sp1Solution_sub10_Footer_sub8_sub9">
																						<div class="sp1Solution_sub10_Footer_sub8_sub10">
																							<div class="sp1Solution_sub10_Footer_sub8_sub11">
																								<div class="sp1Solution_sub10_Footer_sub8_sub12">
																									<h2>빠른 구현 시간
																										<br class="mobile-enter">
																										(개발공수 절감)
																									</h2>
																								</div>
																								<div class="sp1Solution_sub10_Footer_sub8_sub13">
																									<div class="sp1Solution_sub10_Footer_sub8_sub14">
																										<h6>
																											프레임워크가 제공하는 기반 구조 위에
																											<br class="mobile-enter">
																											 어플리케이션의 비즈니스 로직과 관련된
																											<br class="tablet-enter">
																											<br class="mobile-enter">
																											 부분만을 구현하여 보다 빠르게
																											<br class="mobile-enter">
																											 어플리케이션을
																											<br class="desktop-enter">
																											 개발할 수 있습니다.
																										</h6>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Footer_sub8">
																		<div class="sp1Solution_sub10_Footer_sub8_sub">
																			<div class="sp1Solution_sub10_Footer_sub8_sub2">
																				<div class="sp1Solution_sub10_Footer_sub8_sub3">
																					<div class="sp1Solution_sub10_Footer_sub8_sub4">
																						<div class="sp1Solution_sub10_Footer_sub8_sub5">
																							<div class="sp1Solution_sub10_Footer_sub8_sub6">
																								<div class="sp1Solution_sub10_Footer_sub8_sub7">
																									<h2>03</h2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Solution_sub10_Footer_sub8_sub8">
																					<div class="sp1Solution_sub10_Footer_sub8_sub9">
																						<div class="sp1Solution_sub10_Footer_sub8_sub10">
																							<div class="sp1Solution_sub10_Footer_sub8_sub11">
																								<div class="sp1Solution_sub10_Footer_sub8_sub12">
																									<h2>모니터링 및 서비스 관제
																										<br class="mobile-enter">
																										(안정적 시스템 운영)
																									</h2>
																								</div>
																								<div class="sp1Solution_sub10_Footer_sub8_sub13">
																									<div class="sp1Solution_sub10_Footer_sub8_sub14">
																										<h6>
																											관리자에게 시스템 운영에 필요한 APM을
																											<br class="mobile-enter">
																											 제공하여 여러 서비스에 대한 실시간
																											<br class="mobile-enter">
																											 모니터링
																											<br class="tablet-enter">
																											 및 관리를 보다 용이하게
																											<br class="mobile-enter">
																											 할 수 있습니다.
																										</h6>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Footer_sub8">
																		<div class="sp1Solution_sub10_Footer_sub8_sub">
																			<div class="sp1Solution_sub10_Footer_sub8_sub2">
																				<div class="sp1Solution_sub10_Footer_sub8_sub3">
																					<div class="sp1Solution_sub10_Footer_sub8_sub4">
																						<div class="sp1Solution_sub10_Footer_sub8_sub5">
																							<div class="sp1Solution_sub10_Footer_sub8_sub6">
																								<div class="sp1Solution_sub10_Footer_sub8_sub7">
																									<h2>04</h2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Solution_sub10_Footer_sub8_sub8">
																					<div class="sp1Solution_sub10_Footer_sub8_sub9">
																						<div class="sp1Solution_sub10_Footer_sub8_sub10">
																							<div class="sp1Solution_sub10_Footer_sub8_sub11">
																								<div class="sp1Solution_sub10_Footer_sub8_sub12">
																									<h2>확장성</h2>
																								</div>
																								<div class="sp1Solution_sub10_Footer_sub8_sub13">
																									<div class="sp1Solution_sub10_Footer_sub8_sub14">
																										<h6>
																											Spring, myBatis와 같은 개방형 표준
																											<br class="mobile-enter">
																											 기술에 기반한 유연한 아키텍처를 제공
																											<br class="mobile-enter">
																											 하여 신기술
																											<br class="tablet-enter">
																											 적용 및 확장이 용이합니다.																										
																										</h6>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Footer_sub9">
																		<div class="sp1Solution_sub10_Footer_sub9_sub">
																			<div class="sp1Solution_sub10_Footer_sub9_sub2">
																				<div class="sp1Solution_sub10_Footer_sub9_sub3">												
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('../common/footer.ejs') %>