<%- include('../common/header.ejs') %>

<title>SP1 APPS - 테스트용 사이트</title>
<div class="sp1TopContents">
	<div class="sp1Top">
		<div class="sp1Top_sub">
			<div class="sp1Top_sub2">
				<div class="sp1Top_sub3">
					<div class="sp1Top_sub4">
						<div class="sp1Top_sub5">
							<div class="sp1Top_sub6">
								<div class="sp1Top_sub7">
									<div class="sp1Top_sub8">
										<div class="sp1Top_sub9">
											<div class="sp1Top_sub10_solution">
												<div class="sp1Top_sub11">
													<div class="sp1Top_sub12">
														<div class="sp1Top_sub13">
															<div class="sp1Top_sub14">
																<div class="sp1Top_sub15">
																	<div class="sp1Top_sub15">
																		<div class="sp1Top_sub16">
																			<div class="sp1Top_sub17">
																				<h1>SP1 APPS</h1>
																			</div>												
																		</div>
																		<div class="sp1Top_sub18">
																			<div class="sp1Top_sub19">
																				<div class="sp1Top_sub20">
																					<div class="sp1Top_sub21">
																						<div class="sp1Top_sub22">
																							<div class="sp1Top_sub23">
																								<div class="sp1Top_sub24">
																									<a href="/" class="sub24_Link">테스트용 사이트</a>																				
																								</div>	
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/solution/sp1-apps" class="sub24_Link">솔루션</a>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/solution/sp1-apps" class="sub24_Link">SP1 APPS</a>																				
																								</div>																			
																							</div>																					
																						</div>	
																					</div>																					
																				</div>																					
																			</div>												
																		</div>																															
																	</div>													
																</div>												
															</div>												
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sp1Solution">
	<div class="sp1Solution_sub">
		<div class="sp1Solution_sub2">
			<div class="sp1Solution_sub3">
				<div class="sp1Solution_sub4">
					<div class="sp1Solution_sub5">
						<div class="sp1Solution_sub6">
							<div class="sp1Solution_sub7">
								<div class="sp1Solution_sub8">
									<div class="sp1Solution_sub9">
										<div class="sp1Solution_sub10">
											<div class="sp1Solution_sub10_Head">
												<div class="sp1Solution_sub10_Head_sub">
													<div class="sp1Solution_sub10_Head_sub2">
														<div class="sp1Solution_sub10_Head_sub3">
															<div class="sp1Solution_sub10_Head_sub4">
																<div class="sp1Solution_sub10_Head_sub5">
																	<div class="sp1Solution_sub10_Head_sub5_sub">
																		<div class="sp1Solution_sub10_Head_sub5_sub_sub">
																			<div class="sp1Solution_sub10_Head_sub5_sub_sub2">
																				<div class="sp1Solution_sub10_Head_sub5_sub_sub3">																
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Head_sub5_sub2">
																		<div class="sp1Solution_sub10_Head_sub5_sub2_sub">
																			<h1>최적화된
																				<br class="mobile-enter">
																				모바일 플랫폼
																			</h1>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Head_sub5_sub3">
																		<div class="sp1Solution_sub10_Head_sub5_sub3_sub">
																			<h6>
																				다양한 모바일 OS와 Device에 최적화된
																				<br class="mobile-enter">
																				 Application을 한 번에 개발할 수 있는 모바일
																				<br class="mobile-enter">
																				 플랫폼으로
																				<br class="desktop-enter">
																				<br class="tablet-enter">
																				 가볍고 빠르며 안정적인
																				<br class="mobile-enter">
																				 서비스 환경을 제공합니다.
																			</h6>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="sp1Solution_sub10_Center">
												<div class="sp1Solution_sub10_Center_sub">
													<div class="sp1Solution_sub10_Center_sub2">
														<div class="sp1Solution_sub10_Center_sub3">
															<div class="sp1Solution_sub10_Center_sub4">
																<div class="sp1Solution_sub10_Center_sub5">
																	<div class="sp1Solution_sub10_Center_sub5_sub">
																		<div class="sp1Solution_sub10_Center_sub5_sub_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub_sub2">
																				<div class="sp1Solution_sub10_Center_sub5_sub_sub3">																	
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub2">
																		<div class="sp1Solution_sub10_Center_sub5_sub2_sub">
																			<h2>주요특징</h2>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub3">
																		<div class="sp1Solution_sub10_Center_sub5_sub3_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub3_sub2">
																				<span></span>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub4">
																		<div class="sp1Solution_sub10_Center_sub5_sub4_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub4_sub2">
																				<div class="sp1Solution_sub10_Center_sub5_sub4_sub3">
																					<div class="sp1Solution_sub10_Center_sub5_sub4_sub4">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Solution_sub10_Center_sub5_sub4_sub8">
																										<img src="/images/solution_img1.png">
																									</div>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub9">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub10">
																									<h5>One Source Multi Use</h5>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub11">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub12">
																									<h6>Web 기술을 이용한 하나의
																										<br>
																										 프로그램으로 다양한 모바일  OS 및
																										<br>
																										 Device를 동시 지원합니다.
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Solution_sub10_Center_sub5_sub4_sub3">
																					<div class="sp1Solution_sub10_Center_sub5_sub4_sub4">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Solution_sub10_Center_sub5_sub4_sub8">
																										<img src="/images/solution_img2.png">
																									</div>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub9">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub10">
																									<h5>높은 효율성</h5>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub11">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub12">
																									<h6>HTML5/CSS3, Javascript 기반으로
																										<br>
																										 효율적으로 개발하고
																										<br>
																										 실행 및 관리할 수 있습니다.
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Solution_sub10_Center_sub5_sub4_sub3">
																					<div class="sp1Solution_sub10_Center_sub5_sub4_sub4">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Solution_sub10_Center_sub5_sub4_sub8">
																										<img src="/images/solution_img3.png">
																									</div>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub9">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub10">
																									<h5>유연한 채널 확장</h5>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub11">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub12">
																									<h6>다양한 Adapter를 제공함으로써
																										<br>
																										 기존 레거시 시스템 연동 및
																										<br>
																										 채널 확장이 용이합니다.
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Solution_sub10_Center_sub5_sub4_sub3">
																					<div class="sp1Solution_sub10_Center_sub5_sub4_sub4">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Solution_sub10_Center_sub5_sub4_sub8">
																										<img src="/images/solution_img4.png">
																									</div>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub9">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub10">
																									<h5>Native API 제공</h5>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub11">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub12">
																									<h6>Native앱과 Web간의 표준 API를
																										<br>
																										 제공하여 다양한 Device 기능을
																										<br>
																										 빠르고 손쉽게 개발할 수 있습니다.
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub5">
																		<div class="sp1Solution_sub10_Center_sub5_sub5_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub5_sub2">
																				<span></span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="sp1Solution_sub10_Footer">
												<div class="sp1Solution_sub10_Footer_sub">
													<div class="sp1Solution_sub10_Footer_sub2">
														<div class="sp1Solution_sub10_Footer_sub3">
															<div class="sp1Solution_sub10_Footer_sub4">
																<div class="sp1Solution_sub10_Footer_sub5">
																	<div class="sp1Solution_sub10_Footer_sub6">
																		<div class="sp1Solution_sub10_Footer_sub6_sub">
																			<div class="sp1Solution_sub10_Footer_sub6_sub2">
																				<div class="sp1Solution_sub10_Footer_sub6_sub3">																		
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Footer_sub7">
																		<div class="sp1Solution_sub10_Footer_sub7_sub">
																			<h2>도입효과</h2>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Footer_sub8">
																		<div class="sp1Solution_sub10_Footer_sub8_sub">
																			<div class="sp1Solution_sub10_Footer_sub8_sub2">
																				<div class="sp1Solution_sub10_Footer_sub8_sub3">
																					<div class="sp1Solution_sub10_Footer_sub8_sub4">
																						<div class="sp1Solution_sub10_Footer_sub8_sub5">
																							<div class="sp1Solution_sub10_Footer_sub8_sub6">
																								<div class="sp1Solution_sub10_Footer_sub8_sub7">
																									<h2>01</h2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Solution_sub10_Footer_sub8_sub8">
																					<div class="sp1Solution_sub10_Footer_sub8_sub9">
																						<div class="sp1Solution_sub10_Footer_sub8_sub10">
																							<div class="sp1Solution_sub10_Footer_sub8_sub11">
																								<div class="sp1Solution_sub10_Footer_sub8_sub12">
																									<h2>개발 및 운영 비용 절감</h2>
																								</div>
																								<div class="sp1Solution_sub10_Footer_sub8_sub13">
																									<div class="sp1Solution_sub10_Footer_sub8_sub14">
																										<h6>
																											다양한 OS, Device에 대응하는 표준화된
																											<br class="mobile-enter">
																											모바일 환경 구축으로 다양한 기능을 빠르게
																											<br class="mobile-enter">
																											<br class="tablet-enter">
																											개발하여 모바일 개발 및 운영효율성 향상을
																											<br class="desktop-enter">
																											<br class="mobile-enter">
																											통해 비용을 대폭 절감할 수 있습니다.
																										</h6>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Footer_sub8">
																		<div class="sp1Solution_sub10_Footer_sub8_sub">
																			<div class="sp1Solution_sub10_Footer_sub8_sub2">
																				<div class="sp1Solution_sub10_Footer_sub8_sub3">
																					<div class="sp1Solution_sub10_Footer_sub8_sub4">
																						<div class="sp1Solution_sub10_Footer_sub8_sub5">
																							<div class="sp1Solution_sub10_Footer_sub8_sub6">
																								<div class="sp1Solution_sub10_Footer_sub8_sub7">
																									<h2>02</h2>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Solution_sub10_Footer_sub8_sub8">
																					<div class="sp1Solution_sub10_Footer_sub8_sub9">
																						<div class="sp1Solution_sub10_Footer_sub8_sub10">
																							<div class="sp1Solution_sub10_Footer_sub8_sub11">
																								<div class="sp1Solution_sub10_Footer_sub8_sub12">
																									<h2>서비스 관리의 효율성 증대</h2>
																								</div>
																								<div class="sp1Solution_sub10_Footer_sub8_sub13">
																									<div class="sp1Solution_sub10_Footer_sub8_sub14">
																										<h6>
																											각 기능별 수행 로그를 간편하게
																											<br class="mobile-enter">
																											조회할 수 있으며, 이용자 별 로그
																											<br class="mobile-enter">
																											추적을 통해
																											<br class="tablet-enter">
																											서비스 관리 효율성을
																											<br class="mobile-enter">
																											극대화할 수 있습니다.
																										</h6>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Footer_sub9">
																		<div class="sp1Solution_sub10_Footer_sub9_sub">
																			<div class="sp1Solution_sub10_Footer_sub9_sub2">
																				<div class="sp1Solution_sub10_Footer_sub9_sub3">												
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('../common/footer.ejs') %>