<div class="adminwrap mobilemodal"> 
    <div class="admin_body">
        <div class="admin_content">
            <div class="admin_contentwrap">
                <div class="btn_group">
                    <img id="modal_exitBtn" src="/images/btn_exit.png">
                </div>
                <div style="text-align: center;">
                    <h1>도서 상세정보</h1>
                </div>
                <table class="admin_board" style="font-size: 13px;">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <tbody class="adminboard_body" style="font-size: 13px;">
                        <tr>
                            <th colspan="4" style="border-right: none;">
                                <span><img id="modal_image" src="" style="width:60%; margin-top: 10px"></span>
                            </th>
                        </tr> 
                        <tr>
                            <th>유형</th>
                            <td><span id="modal_bookType"></span></td>
                            <th>관리번호</th>
                            <td style="border-right: none;"><span id="modal_managementNumber"></span></td>                
                        </tr>
                        <tr>
                            <th>도서명</th>
                            <td colspan="3" style="border-right: none;"><span id="modal_bookName"></span></td>                              
                        </tr>
                        <tr>
                            <th>구매일</th>
                            <td><span id="modal_purchaseDate"></span></td>
                            <th>개정년도</th>
                            <td style="border-right: none;"><span id="modal_revisionYear"></span></td>                
                        </tr>
                        <tr>
                            <th>사용자</th>
                            <td><span id="modal_user"></span></td>
                            <th>목차</th>
                            <td style="text-align: center; border-right: none;"><span><a id="modal_link" href="javascript:void(0);" target="_blank">[링크]</a></span></td>         
                        </tr>
                        <tr>
                            <th>비고</th>
                            <td colspan="3" style="border-right: none;"><span id="modal_reference"></span></td>                              
                        </tr>
                        <tr>
                            <th colspan="4" style="border-top: none; border-left: none; border-right: none;"></th>        
                        </tr>                                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>