<div class="adminwrap modal_use_apply"> 
    <div class="admin_body">
        <div class="admin_content">
            <div class="admin_contentwrap">
                <div class="btn_group">
                    <img id="modal_exitBtn2" src="/images/btn_exit.png">
                </div>
                <div style="text-align: center;">
                    <h1>도서 대여신청</h1>
                </div>                        
                <div class="write_table">
                    <div class="write_table_div" style="display: none;">
                        <div class="write_table_div1">
                            <span>사용유무 숨김</span>
                        </div>
                        <div class="write_table_div2">
                            <input type="text" id="useapply_useYN" value="N">
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="write_table_div">
                        <div class="write_table_div1">
                            <span>신청자</span>
                        </div>
                        <div class="write_table_div2_modify">
                            <span id="useapply_user"><%= loginMember.name %></span>
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="message_table_div">
                        <div class="message_table_div1">
                        
                        </div>
                        <div class="message_table_div2">
                            <span></span>
                        </div>
                        <div class="message_table_div3">
                        
                        </div>
                    </div>
                    <div class="write_table_div">
                        <div class="write_table_div1">
                            <span>신청일</span>
                        </div>
                        <div class="write_table_div2">
                            <input type="text" id="useapply_useStartDate" value="">
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="message_table_div">
                        <div class="message_table_div1">
                        
                        </div>
                        <div class="message_table_div2">
                            <span id="useStartDateMessage">※ 신청일을 입력해주세요.</span>
                        </div>
                        <div class="message_table_div3">
                        
                        </div>
                    </div>
                    <div class="write_table_div">
                        <div class="write_table_div1">
                            <span>반납일</span>
                        </div>
                        <div class="write_table_div2">
                            <input type="text" id="useapply_useEndDate" value="">
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="message_table_div">
                        <div class="message_table_div1">
                        
                        </div>
                        <div class="message_table_div2">
                            <span id="useEndDateMessage">※ 반납일을 입력해주세요.</span>
                        </div>
                        <div class="message_table_div3">
                        
                        </div>
                    </div>                         
                    <div class="write_table_div">
                        <div class="write_table_div1">
                            <span>관리번호</span>
                        </div>
                        <div class="write_table_div2_modify">
                            <span id="useapply_managementNumber"></span>
                        </div>
                        <div class="write_table_div3">
                            
                        </div>
                    </div>
                    <div class="message_table_div">
                        <div class="message_table_div1">
                        
                        </div>
                        <div class="message_table_div2">
                            <span></span>
                        </div>
                        <div class="message_table_div3">
                        
                        </div>
                    </div>
                    <div class="write_table_btn">
                        <div>
                            <input type="submit" id="postFormBtn" value="대여신청"/>
                            <a id="cancelBtn" href="javascript:void(0);">
                                <span>취소하기</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>      
<script>    
$(function() {
    $(function init() { 
        // 신청일 오늘 날짜 자동기입
        $('#useapply_useStartDate').attr('value', todayDate());

        // 날짜 플래터 적용
        $('#useapply_useStartDate').change(function() {
            var $this =  $('#useapply_useStartDate').val();
            var formatdate = dayformat($this);
            $('#useapply_useStartDate').val(formatdate);
        });
        $('#useapply_useEndDate').change(function() {
            var $this =  $('#useapply_useEndDate').val();
            var formatdate = dayformat($this);
            $('#useapply_useEndDate').val(formatdate);
        });

        // 데이터 유무에 따른 알림 메시지 공개/비공개
        if($('#useapply_useStartDate').val() != "") {
            $('#useStartDateMessage').css('display', 'none');
        }else {
            $('#useStartDateMessage').css('display', 'block');
        }

        // 데이터 유무에 따른 알림 메시지 공개/비공개
        $('#useapply_useStartDate').change(function() {
            if($('#useapply_useStartDate').val() != "") {
                $('#useStartDateMessage').css('display', 'none');
            }else {
                $('#useStartDateMessage').css('display', 'block');
            }
        });  
        $('#useapply_useEndDate').change(function() {
            if($('#useapply_useEndDate').val() != "") {
                $('#useEndDateMessage').css('display', 'none');
            }else {
                $('#useEndDateMessage').css('display', 'block');
            }
        });  
    });
});       
</script>
<%- include('../../common/adminfooter.ejs') %>