<div class="adminwrap mobile_historymodal"> 
    <div class="admin_body">
        <div class="admin_content">
            <div class="admin_contentwrap">
                <div class="btn_group">
                    <img id="close_historyBtn" src="/images/btn_exit.png">
                </div>
                <div style="text-align: center;">
                    <h1>이력 정보</h1>
                </div>
                <table class="admin_board" style="font-size: 13px;">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <tbody class="adminboard_body" style="font-size: 13px;">
                        <td colspan="4" style="text-align: center; border-right: none;">
                            <span id="modal_history" style="white-space: pre-line;"></span>   
                        </td>                               
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>