<div class="adminwrap mobilemodal"> 
    <div class="admin_body">
        <div class="admin_content">
            <div class="admin_contentwrap">
                <div class="btn_group">
                    <img id="modal_exitBtn" src="/images/btn_exit.png">
                </div>
                <div style="text-align: center;">
                    <h1>장비 상세정보</h1>
                </div>
                <table class="admin_board" style="font-size: 13px;">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <tbody class="adminboard_body" style="font-size: 13px;">
                        <tr>
                            <th colspan="4" style="border-right: none;">
                                <span><img id="modal_image" src="" style="width:60%; margin-top: 10px"></span>
                            </th>
                        </tr> 
                        <tr>
                            <th>유형</th>
                            <td><span id="modal_productType"></span></td>
                            <th>관리번호</th>
                            <td style="border-right: none;"><span id="modal_managementNumber"></span></td>                
                        </tr>
                        <tr id="selectColumn1">
                            <th>제조사</th>
                            <td>
                                <span id="modal_maker"></span>                                
                            </td>      
                            <th>제품명</th>
                            <td style="border-right: none;"><span id="modal_productName"></span></td>                           
                        </tr>
                        <tr id="selectColumn2">
                            <th>통신사 </th>
                            <td>
                                <span id="modal_telecom"></span>                                
                            </td>      
                            <th>제품명</th>
                            <td style="border-right: none;"><span id="modal_productName2"></span></td>                           
                        </tr>
                        <tr id="selectColumn3">
                            <th colspan="2">화면크기</th>
                            <td colspan="2" style="border-right: none;"><span id="modal_inch"></span></td>                              
                        </tr>
                        <tr id="selectColumn4">
                            <th>CPU</th>
                            <td><span id="modal_cpu"></span></td>      
                            <th>메모리</th>
                            <td style="border-right: none;"><span id="modal_memory"></span></td>                           
                        </tr>
                        <tr id="selectColumn5">
                            <th colspan="2">윈도우 유무</th>
                            <td colspan="2" style="border-right: none;"><span id="modal_windowYN"></span></td>                              
                        </tr>
                        <tr id="selectColumn6">
                            <th>연결타입</th>
                            <td><span id="modal_connectionType"></span></td>      
                            <th>LAN<br>지원유무</th>
                            <td style="border-right: none;"><span id="modal_lanYN"></span></td>                           
                        </tr>
                        <tr id="selectColumn7">
                            <th>UDID</th>
                            <td colspan="3" style="border-right: none;"><span id="modal_udid"></span></td>                              
                        </tr>
                        <tr id="selectColumn8">
                            <th>OS Version</th>
                            <td colspan="3" style="border-right: none;"><span id="modal_osVersion"></span></td>                              
                        </tr>
                        <tr id="selectColumn9">
                            <th>개통번호</th>
                            <td colspan="3" style="border-right: none;"><span id="modal_phoneNumber"></span></td>                              
                        </tr>
                        <tr id="selectColumn10">
                            <th>요금제 및<br>데이터</th>
                            <td colspan="3" style="border-right: none;"><span id="modal_callingPlan"></span></td>                              
                        </tr>
                        <tr>
                            <th colspan="2">시리얼 번호</th>
                            <td colspan="2" style="border-right: none;"><span id="modal_productSerial"></span></td>                              
                        </tr>
                        <tr>
                            <th colspan="2">구매일</th>
                            <td colspan="2" style="border-right: none;"><span id="modal_purchaseDate"></span></td>                              
                        </tr>
                        <tr>
                            <th>사용자</th>
                            <td><span id="modal_user"></span></td>      
                            <th>사용처</th>
                            <td style="border-right: none;"><span id="modal_usePlace"></span>
                            </td>                           
                        </tr>                            
                        <tr>
                            <th>비고</th>
                            <td colspan="3" style="border-right: none;"><span id="modal_reference"></span></td>                              
                        </tr>
                        <tr>
                            <th colspan="4" style="border-top: none; border-left: none; border-right: none;"></th>        
                        </tr>                                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>