        </div>
    </div>
</body>
<div class="mobile_footer" <% if(loginMember.adminlevel.includes("관리자") != false) { %> style="bottom: inherit" <% } %>>
    <h6>Copyrightⓒ2020 SP1SOFT Co.,Ltd.. All Rights Reserved.</h6>
</footer>
</html>