<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

</div>
<footer class="sp1Footer">
<div class="sp1Footer_sub">
	<div class="sp1FooterGnb">
		<div class="sp1FooterGnb_sub">
			<div class="sp1FooterGnb_sub2">

				<!-- 하단 좌측 회사정보 부분 -->
				<div class="sp1Info">
					<div class="sp1Info_sub">
						<div class="sp1Info_sub2">
							<div class="sp1Info_logo">
								<div class="sp1Info_logo_sub">
									<div class="sp1Info_logo_sub2">
										<img src="/images/logo-grey.png">
									</div>								
								</div>								
							</div>
							<div class="sp1Info_sub3">
								<div class="sp1Info_sub4">
									<ul class="sp1Info_sub4_list">
										<li>
											<a href="tel:070-8836-1108">
												<span class="sp1Info_sub4_list_icon">
													<i aria-hidden="true" class="fas fa-phone-alt"></i>
												</span>
												<span class="sp1Info_sub4_list_Info">070-8836-1108</span>
											</a>
										</li>
										<li>
											<a href="tel:050-8090-0718">
												<span class="sp1Info_sub4_list_icon">
													<i aria-hidden="true" class="fas fa-fax"></i>
												</span>
												<span class="sp1Info_sub4_list_Info">050-8090-0718</span>
											</a>
										</li>
										<li>
											<a href="mailto:help@sp1soft.com">
												<span class="sp1Info_sub4_list_icon">
													<i aria-hidden="true" class="far fa-envelope"></i>
												</span>
												<span class="sp1Info_sub4_list_Info">help@sp1soft.com</span>
											</a>
										</li>
										<li>
											<a href="http://kko.to/YjuoZRM3l" target="_blank">
												<span class="sp1Info_sub4_list_icon">
													<i aria-hidden="true" class="fas fa-map-marker-alt"></i>
												</span>
												<span class="sp1Info_sub4_list_Info" style="line-height: 1.5em; margin-top: 5px;">서울시 영등포구 국제금융로6길 33, 8층 24호 (여의도동, 맨하탄빌딩)</span>
											</a>
										</li>
									</ul>
								</div>							
							</div>
							<div class="sp1Info_sub5">
								<div class="sp1Info_sub6">
									<div class="sp1Info_sub7">
										<div class="sp1Info_sub8">								
										</div>										
									</div>										
								</div>
							</div>									
						</div>				
					</div>				
				</div>
				<!-- End -->

				<!-- 하단 우측 메뉴 부분 -->
				<div class="sp1FooterMenu">
					<div class="sp1FooterMenu_sub">
						<div class="sp1FooterMenu_sub2">
							<div class="sp1FooterMenu_sub3">
								<div class="sp1FooterMenu_sub4">
									<div class="sp1FooterMenu_sub5">
										<div class="sp1FooterMenu_sub6">
											<div class="sp1FooterMenu_sub7">
												<div class="sp1FooterMenu_sub8">
													<div class="sp1FooterMenu_sub9">
														<div class="sp1FooterMenu_sub10">
															<div class="sp1FooterMenu_sub11">
																<a href="/about-company">
																	<span>
																		<span>회사소개</span>
																	</span>
																</a>
															</div>						
														</div>						
													</div>						
												</div>						
											</div>
										</div>
										<div class="sp1FooterMenu_sub6">
											<div class="sp1FooterMenu_sub7">
												<div class="sp1FooterMenu_sub8">
													<div class="sp1FooterMenu_sub9">
														<div class="sp1FooterMenu_sub10">
															<div class="sp1FooterMenu_sub11">
																<a href="/business/finance">
																	<span>
																		<span>사업분야</span>
																	</span>
																</a>
															</div>						
														</div>						
													</div>
													<div class="sp1FooterMenu_sub12">
														<div class="sp1FooterMenu_sub13">
															<div class="sp1FooterMenu_sub14">
																<div class="sp1FooterMenu_sub15">
																	<div class="sp1FooterMenu_sub16">
																		<div class="sp1FooterMenu_sub17">
																			<a href="/business/finance">
																				<span>금융 서비스</span>
																			</a>
																		</div>
																		<div class="sp1FooterMenu_sub17">
																			<a href="/business/platform">
																				<span>플랫폼 서비스</span>
																			</a>
																		</div>
																		<div class="sp1FooterMenu_sub17">
																			<a href="/business/solution">
																				<span>솔루션 서비스</span>
																			</a>
																		</div>
																	</div>
																</div>						
															</div>						
														</div>						
													</div>							
												</div>					
											</div>
										</div>
										<div class="sp1FooterMenu_sub6">
											<div class="sp1FooterMenu_sub7">
												<div class="sp1FooterMenu_sub8">
													<div class="sp1FooterMenu_sub9">
														<div class="sp1FooterMenu_sub10">
															<div class="sp1FooterMenu_sub11">
																<a href="/solution/sp1-apps">
																	<span>
																		<span>솔루션</span>
																	</span>
																</a>
															</div>						
														</div>						
													</div>
													<div class="sp1FooterMenu_sub12">
														<div class="sp1FooterMenu_sub13">
															<div class="sp1FooterMenu_sub14">
																<div class="sp1FooterMenu_sub15">
																	<div class="sp1FooterMenu_sub16">
																		<div class="sp1FooterMenu_sub17">
																			<a href="/solution/sp1-apps">
																				<span>SP1 APPS</span>
																			</a>
																		</div>
																		<div class="sp1FooterMenu_sub17">
																			<a href="/solution/sp1-framework">
																				<span>SP1 Framework</span>
																			</a>
																		</div>
																	</div>
																</div>						
															</div>						
														</div>						
													</div>							
												</div>					
											</div>
										</div>
										<div class="sp1FooterMenu_sub6">
											<div class="sp1FooterMenu_sub7">
												<div class="sp1FooterMenu_sub8">
													<div class="sp1FooterMenu_sub9">
														<div class="sp1FooterMenu_sub10">
															<div class="sp1FooterMenu_sub11">
																<a href="/sub/portfolio">
																	<span>
																		<span>포트폴리오</span>
																	</span>
																</a>
															</div>						
														</div>						
													</div>
													<div class="sp1FooterMenu_sub12">
														<div class="sp1FooterMenu_sub13">
															<div class="sp1FooterMenu_sub14">
																<div class="sp1FooterMenu_sub15">
																	<div class="sp1FooterMenu_sub16">
																		<div class="sp1FooterMenu_sub17">
																			<a href="/sub/portfolio">
																				<span>구축실적</span>
																			</a>
																		</div>
																		<div class="sp1FooterMenu_sub17">
																			<a href="/sub/partner">
																				<span>고객사 및 협력사</span>
																			</a>
																		</div>
																	</div>
																</div>						
															</div>						
														</div>						
													</div>						
												</div>					
											</div>
										</div>
										<div class="sp1FooterMenu_sub6">
											<div class="sp1FooterMenu_sub7">
												<div class="sp1FooterMenu_sub8">
													<div class="sp1FooterMenu_sub9">
														<div class="sp1FooterMenu_sub10">
															<div class="sp1FooterMenu_sub11">
																<a href="/recruit/talent">
																	<span>
																		<span>인재채용</span>
																	</span>
																</a>
															</div>						
														</div>						
													</div>
													<div class="sp1FooterMenu_sub12">
														<div class="sp1FooterMenu_sub13">
															<div class="sp1FooterMenu_sub14">
																<div class="sp1FooterMenu_sub15">
																	<div class="sp1FooterMenu_sub16">
																		<div class="sp1FooterMenu_sub17">
																			<a href="/recruit/talent">
																				<span>인재상</span>
																			</a>
																		</div>
																		<div class="sp1FooterMenu_sub17">
																			<a href="/recruit/welfare">
																				<span>복리후생</span>
																			</a>
																		</div>
																		<div class="sp1FooterMenu_sub17">
																			<a href="/recruit/employInfo">
																				<span>채용정보</span>
																			</a>
																		</div>
																	</div>
																</div>						
															</div>						
														</div>						
													</div>							
												</div>					
											</div>
										</div>
										<div class="sp1FooterMenu_sub6">
											<div class="sp1FooterMenu_sub7">
												<div class="sp1FooterMenu_sub8">
													<div class="sp1FooterMenu_sub9">
														<div class="sp1FooterMenu_sub10">
															<div class="sp1FooterMenu_sub11">
																<a href="/contact">
																	<span>
																		<span>문의하기</span>
																	</span>
																</a>
															</div>						
														</div>						
													</div>						
												</div>						
											</div>
										</div>						
									</div>						
								</div>						
							</div>						
						</div>						
					</div>
				</div>
				<!-- End -->
				
			</div>				
		</div>		
	</div>

	<!-- 하단 마지막 Copyright 부분 -->
	<div class="sp1FooterGnb2">
		<div class="sp1Copyright">
			<div class="sp1Copyright_sub">
				<div class="sp1Copyright_sub2">
					<div class="sp1Copyright_sub3">
						<div class="sp1Copyright_sub4">
							<div class="sp1Copyright_sub5">
								<div class="sp1Copyright_sub6">
									<h6>Copyrightⓒ2020 SP1SOFT Co.,Ltd.. All Rights Reserved.</h6>
								</div>			
							</div>			
						</div>			
					</div>			
				</div>			
			</div>			
		</div>
	</div>
	<!-- End -->

</div>
</footer>	
</body>
</html>