<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Cache-Control" content="No-Cache">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
	<meta name="description" content="국내 최고의 기술로 특화된 금융 IT 서비스 전문기업 - 테스트용 사이트">
	<link rel="canonical" href="https://sp1soft.com/">
	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="테스트용 사이트">
	<meta property="og:description" content="국내 최고의 기술로 특화된 금융 IT 서비스 전문기업 - 테스트용 사이트">
	<meta property="og:url" content="https://sp1soft.com/">
	<meta property="og:site_name" content="테스트용 사이트">
	<meta property="og:image" content="/images/로고.jpg">
	<meta property="og:image:width" content="600">
	<meta property="og:image:height" content="315">
	<meta property="og:image:type" content="image/jpeg">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="/images/로고.jpg">
	<meta name="twitter:label1" content="Est. reading time">
	<meta name="twitter:data1" content="9분">
	<meta name="google-site-verification" content="ezz-Irb1XcbmyMootPW0WSmUe9gQ8wPpGHLEd9DMb1A">
	<link rel="shortcut icon" href="/images/ico.jpg" type="image/ico" />
	<link href="/css/common.css" rel="stylesheet" type="text/css">
	<link href="/css/index.css" rel="stylesheet" type="text/css">
	<link href="/css/aboutcompany.css" rel="stylesheet" type="text/css">
	<link href="/css/business.css" rel="stylesheet" type="text/css">
	<link href="/css/solution.css" rel="stylesheet" type="text/css">
	<link href="/css/sub.css" rel="stylesheet" type="text/css">
	<link href="/css/recruit.css" rel="stylesheet" type="text/css">
	<link href="/css/contact.css" rel="stylesheet" type="text/css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
	<script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
</head>
<body>
	<div id="sp1Wrapper">
		<div class="sp1Header">
			<div class="sp1HeaderGnb">
				<div class="sp1HeaderGnb_sub">

					<!-- 상단 로고 라인 부분 -->
					<div class="sp1Logo">
						<div class="sp1Logo_sub">
							<div class="sp1Logo_sub2">
								<div class="sp1Logo_sub3">
									<div class="sp1Logo_sub4">
										<div class="sp1Logo_sub5">
											<a href="/" title="home">

												<!-- 회사 흰색 로고 -->
												<img src="/images/whiteLogo.png">
												<!-- End -->

											</a>
										</div>								
									</div>								
								</div>						
							</div>							
						</div>								
					</div>	
					<!-- End -->
					
					<!-- 상단 메뉴바 라인 부분 -->
					<div class="sp1Nav">
						<div class="sp1Nav_sub">
							<div class="sp1Nav_sub2">
								<div class="sp1Nav_sub3">						
									<div class="sp1Nav_sub4">
										<div class="sp1Menu">
											<a href="/about-company">
												<span class="menuName" id="companyBtn">회사소개</span>
											</a>						
										</div>
										<div class="sp1Menu">
											<a href="/business/finance">
												<span class="menuName" id="businessBtn">사업분야</span>
											</a>
											<div class="menuName_list" id="menuName_list_businessBtn">
												<div class="menuName_list_link">
													<a href="/business/finance">
														<span>금융 서비스</span>
													</a>
												</div>
												<div class="menuName_list_link">
													<a href="/business/platform">
														<span>플랫폼 서비스</span>
													</a>
												</div>
												<div class="menuName_list_link">
													<a href="/business/solution">
														<span>솔루션 서비스</span>
													</a>
												</div>
											</div>							
										</div>
										<div class="sp1Menu">
											<a href="/solution/sp1-apps">
												<span class="menuName" id="solutionBtn">솔루션</span>										
											</a>
											<div class="menuName_list solutionBtn" id="menuName_list_solutionBtn">
												<div class="menuName_list_link">
													<a href="/solution/sp1-apps">
														<span>SP1 APPS</span>
													</a>
												</div>
												<div class="menuName_list_link">
													<a href="/solution/sp1-framework">
														<span>SP1 Framework</span>
													</a>
												</div>
											</div>						
										</div>
										<div class="sp1Menu">
											<a href="/sub/portfolio">
												<span class="menuName" id="portfolioBtn">포트폴리오</span>
											</a>
											<div class="menuName_list portfolioBtn" id="menuName_list_portfolioBtn">
												<div class="menuName_list_link">
													<a href="/sub/portfolio">
														<span>구축실적</span>
													</a>
												</div>
												<div class="menuName_list_link">
													<a href="/sub/partner">
														<span>고객사 및 협력사</span>
													</a>
												</div>
											</div>							
										</div>
										<div class="sp1Menu">
											<a href="/recruit/talent">
												<span class="menuName" id="recruitBtn">인재채용</span>
											</a>
											<div class="menuName_list portfolioBtn" id="menuName_list_recruitBtn">
												<div class="menuName_list_link">
													<a href="/recruit/talent">
														<span>인재상</span>
													</a>
												</div>
												<div class="menuName_list_link">
													<a href="/recruit/welfare">
														<span>복리후생</span>
													</a>
												</div>
												<div class="menuName_list_link">
													<a href="/recruit/employInfo">
														<span>채용정보</span>
													</a>
												</div>
											</div>							
										</div>
									</div>
								</div>
							</div>																							
						</div>
					</div>
					<!-- End -->

					<!-- 모바일 화면 메뉴바 라인 부분 -->
					<div class="sp1Nav2">
						<div class="sp1Nav2_sub">
							<div class="sp1Nav2_sub2">
								<div class="sp1Nav2_sub3">
									<div class="sp1Nav2_sub4">
										<div class="sp1Nav2_sub5">
											<div class="sp1Nav2_sub5_div1">
												<span class="sp1Nav2_sub5_div1_open" id="openBtn">
													<i aria-hidden="true" class="fas fa-bars"></i>
												</span>
												<span class="sp1Nav2_sub5_div1_close" id="closeBtn">
													<i aria-hidden="true" class="fas fa-times"></i>
												</span>
											</div>
											<div class="sp1Nav2_sub5_div2">
												<div class="sp1Nav2_sub5_div2_sub" id="mobileMenu">
													<div class="sp1Nav2_sub5_div2_sub_menu">
														<a href="/about-company">
															<span>회사소개</span>
														</a>
													</div>
													<div class="sp1Nav2_sub5_div2_sub_menu" id="mobileMenu1">
														<a href="javascript:void(0);">
															<span>사업분야</span>
														</a>
														<div class="sp1Nav2_sub5_div2_sub_menu_depth" id="mobileMenu1_sub">
															<div class="sp1Nav2_sub5_div2_sub_menu_depth_sub">
																<a href="/business/finance">
																	<span>금융 서비스</span>
																</a>
															</div>
															<div class="sp1Nav2_sub5_div2_sub_menu_depth_sub">
																<a href="/business/platform">
																	<span>플랫폼 서비스</span>
																</a>
															</div>
															<div class="sp1Nav2_sub5_div2_sub_menu_depth_sub">
																<a href="/business/solution">
																	<span>솔루션 서비스</span>
																</a>
															</div>
														</div>
													</div>
													<div class="sp1Nav2_sub5_div2_sub_menu" id="mobileMenu2">
														<a href="javascript:void(0);">
															<span>솔루션</span>
														</a>
														<div class="sp1Nav2_sub5_div2_sub_menu_depth" id="mobileMenu2_sub">
															<div class="sp1Nav2_sub5_div2_sub_menu_depth_sub">
																<a href="/solution/sp1-apps">
																	<span>SP1 APPS</span>
																</a>
															</div>
															<div class="sp1Nav2_sub5_div2_sub_menu_depth_sub">
																<a href="/solution/sp1-framework">
																	<span>SP1 Framework</span>
																</a>
															</div>
														</div>
													</div>
													<div class="sp1Nav2_sub5_div2_sub_menu" id="mobileMenu3">
														<a href="javascript:void(0);">
															<span>포트폴리오</span>
														</a>
														<div class="sp1Nav2_sub5_div2_sub_menu_depth" id="mobileMenu3_sub">
															<div class="sp1Nav2_sub5_div2_sub_menu_depth_sub">
																<a href="/sub/portfolio">
																	<span>구축실적</span>
																</a>
															</div>
															<div class="sp1Nav2_sub5_div2_sub_menu_depth_sub">
																<a href="/sub/partner">
																	<span>고객사 및 협력사</span>
																</a>
															</div>
														</div>
													</div>
													<div class="sp1Nav2_sub5_div2_sub_menu" id="mobileMenu4">
														<a href="javascript:void(0);">
															<span>인재채용</span>
														</a>
														<div class="sp1Nav2_sub5_div2_sub_menu_depth" id="mobileMenu4_sub">
															<div class="sp1Nav2_sub5_div2_sub_menu_depth_sub">
																<a href="/recruit/talent">
																	<span>인재상</span>
																</a>
															</div>
															<div class="sp1Nav2_sub5_div2_sub_menu_depth_sub">
																<a href="/recruit/welfare">
																	<span>복리후생</span>
																</a>
															</div>
															<div class="sp1Nav2_sub5_div2_sub_menu_depth_sub">
																<a href="/recruit/employInfo">
																	<span>채용정보</span>
																</a>
															</div>
														</div>
													</div>
													<div class="sp1Nav2_sub5_div2_sub_menu">
														<a href="/contact">
															<span>문의하기</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End -->

					<!-- 상단 문의하기 부분 -->
					<div class="sp1Answer">
						<div class="sp1Answer_sub">
							<div class="sp1Answer_sub2">
								<div class="sp1Answer_sub3">
									<div class="sp1Answer_sub4">
										<div class="btn-group">
											<a href="/contact" class="sp1AnswerBtn">
												<span class="btnContent">문의하기</span>
											</a>																
										</div>	
									</div>
								</div>
							</div>										
						</div>
					</div>	
					<!-- End -->

				</div>				
			</div>
		</div>		
<script>
$(function() {
    $(function init() { 
		var companyBtn = document.querySelector("#companyBtn");
		var businessBtn = document.querySelector("#businessBtn");
		var solutionBtn = document.querySelector("#solutionBtn");
		var portfolioBtn = document.querySelector("#portfolioBtn");
		var recruitBtn = document.querySelector("#recruitBtn");
		var openBtn = document.querySelector('#openBtn');
		var closeBtn = document.querySelector('#closeBtn');
		var mobileMenu = document.querySelector('#mobileMenu');
		var mobileMenu1 = document.querySelector('#mobileMenu1');
		var mobileMenu2 = document.querySelector('#mobileMenu2');
		var mobileMenu3 = document.querySelector('#mobileMenu3');
		var mobileMenu4 = document.querySelector('#mobileMenu4');
		var mobileMenu1_sub = document.querySelector('#mobileMenu1_sub');
		var mobileMenu2_sub = document.querySelector('#mobileMenu2_sub');
		var mobileMenu3_sub = document.querySelector('#mobileMenu3_sub');
		var mobileMenu4_sub = document.querySelector('#mobileMenu4_sub');

		var menuName_list_business = document.querySelector('#menuName_list_businessBtn');
		var menuName_list_solution = document.querySelector('#menuName_list_solutionBtn');
		var menuName_list_portfolio = document.querySelector('#menuName_list_portfolioBtn');
		var menuName_list_recruit = document.querySelector('#menuName_list_recruitBtn');

		// 마우스 커서에 따라 하위 메뉴 공개/비공개
		businessBtn.addEventListener('mouseover', e => {
			menuName_list_business.className += ' hover';
			menuName_list_solution.className = 'menuName_list';
			menuName_list_portfolio.className = 'menuName_list';
			menuName_list_recruit.className = 'menuName_list';
		});
		menuName_list_business.addEventListener('mouseout', e => {
			menuName_list_business.className = 'menuName_list';
			menuName_list_solution.className = 'menuName_list';
			menuName_list_portfolio.className = 'menuName_list';
			menuName_list_recruit.className = 'menuName_list';
		});
		solutionBtn.addEventListener('mouseover', e => {
			menuName_list_solution.className += ' hover';
			menuName_list_business.className = 'menuName_list';
			menuName_list_portfolio.className = 'menuName_list';
			menuName_list_recruit.className = 'menuName_list';
		});
		menuName_list_solution.addEventListener('mouseout', e => {
			menuName_list_business.className = 'menuName_list';
			menuName_list_solution.className = 'menuName_list';
			menuName_list_portfolio.className = 'menuName_list';
			menuName_list_recruit.className = 'menuName_list';
		});
		portfolioBtn.addEventListener('mouseover', e => {
			menuName_list_portfolio.className += ' hover';
			menuName_list_business.className = 'menuName_list';
			menuName_list_solution.className = 'menuName_list';
			menuName_list_recruit.className = 'menuName_list';
		});
		menuName_list_portfolio.addEventListener('mouseout', e => {
			menuName_list_business.className = 'menuName_list';
			menuName_list_solution.className = 'menuName_list';
			menuName_list_portfolio.className = 'menuName_list';
			menuName_list_recruit.className = 'menuName_list';
		});
		recruitBtn.addEventListener('mouseover', e => {
			menuName_list_recruit.className += ' hover';
			menuName_list_business.className = 'menuName_list';
			menuName_list_solution.className = 'menuName_list';
			menuName_list_portfolio.className = 'menuName_list';
		});
		menuName_list_recruit.addEventListener('mouseout', e => {
			menuName_list_business.className = 'menuName_list';
			menuName_list_solution.className = 'menuName_list';
			menuName_list_portfolio.className = 'menuName_list';
			menuName_list_recruit.className = 'menuName_list';
		});

		// 모바일 화면 버튼 클릭에 따른 메뉴/비공개
		openBtn.addEventListener('click', e => {
			mobileMenu.className += ' hover';
			openBtn.className += ' hiddenClass';
			closeBtn.className += ' hover';	
		});
		closeBtn.addEventListener('click', e => {
			mobileMenu.className = 'sp1Nav2_sub5_div2_sub';
			openBtn.className = 'sp1Nav2_sub5_div1_open';
			closeBtn.className = 'sp1Nav2_sub5_div1_close';
			mobileMenu1_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
			mobileMenu2_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
			mobileMenu3_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
			mobileMenu4_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
		});
		mobileMenu1.addEventListener('click', e => {
			mobileMenu1_sub.className += ' hover';
			mobileMenu2_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
			mobileMenu3_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
			mobileMenu4_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
		});
		mobileMenu2.addEventListener('click', e => {
			mobileMenu2_sub.className += ' hover';
			mobileMenu1_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
			mobileMenu3_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
			mobileMenu4_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
		});
		mobileMenu3.addEventListener('click', e => {
			mobileMenu3_sub.className += ' hover';
			mobileMenu1_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
			mobileMenu2_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
			mobileMenu4_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
		});
		mobileMenu4.addEventListener('click', e => {
			mobileMenu4_sub.className += ' hover';
			mobileMenu1_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
			mobileMenu2_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
			mobileMenu3_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
		});

		// 주소에 따른 접속메뉴 색깔 변경
		var siteAddress = window.location.href;
		if(siteAddress.indexOf("about-company") != -1) {
			companyBtn.style.color = '#FFF';
		}else if(siteAddress.indexOf("business") != -1) {
			businessBtn.style.color = '#FFF';
		}else if(siteAddress.indexOf("sp1-") != -1) {
			solutionBtn.style.color = '#FFF';
		}else if(siteAddress.indexOf("sub") != -1) {
			portfolioBtn.style.color = '#FFF';
		}else if(siteAddress.indexOf("recruit") != -1) {
			recruitBtn.style.color = '#FFF';
		}

		// 모바일 화면 스크롤 시 메뉴바 숨김처리
		window.addEventListener('scroll', () => { 	
			mobileMenu.className = 'sp1Nav2_sub5_div2_sub';
			openBtn.className = 'sp1Nav2_sub5_div1_open';
			closeBtn.className = 'sp1Nav2_sub5_div1_close';
			mobileMenu1_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
			mobileMenu2_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
			mobileMenu3_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
			mobileMenu4_sub.className = 'sp1Nav2_sub5_div2_sub_menu_depth';
		});
	});
}); 
</script>