<%- include('../common/header.ejs') %>

<title>채용정보 - 테스트용 사이트</title>
<div class="sp1TopContents">
	<div class="sp1Top">
		<div class="sp1Top_sub">
			<div class="sp1Top_sub2">
				<div class="sp1Top_sub3">
					<div class="sp1Top_sub4">
						<div class="sp1Top_sub5">
							<div class="sp1Top_sub6">
								<div class="sp1Top_sub7">
									<div class="sp1Top_sub8">
										<div class="sp1Top_sub9">

											<!-- 상단 배경이미지 부분. common.css 623번 라인 background-image -->
											<div class="sp1Top_sub10_recruit">
											<!-- End -->

												<div class="sp1Top_sub11">
													<div class="sp1Top_sub12">
														<div class="sp1Top_sub13">
															<div class="sp1Top_sub14">
																<div class="sp1Top_sub15">
																	<div class="sp1Top_sub15">
																		<div class="sp1Top_sub16">
																			<div class="sp1Top_sub17">

																				<!-- 상단 큰글씨 메뉴명 -->
																				<h1>채용정보</h1>
																				<!-- End -->

																			</div>												
																		</div>
																		<div class="sp1Top_sub18">
																			<div class="sp1Top_sub19">
																				<div class="sp1Top_sub20">
																					<div class="sp1Top_sub21">
																						<div class="sp1Top_sub22">
																							<div class="sp1Top_sub23">

																								<!-- 상단 작은글씨 메뉴 -->
																								<div class="sp1Top_sub24">
																									<a href="/" class="sub24_Link">테스트용 사이트</a>																				
																								</div>	
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/recruit/talent" class="sub24_Link">인재채용</a>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/recruit/employInfo" class="sub24_Link">채용정보</a>																				
																								</div>	
																								<!-- End -->
																								
																							</div>																					
																						</div>	
																					</div>																					
																				</div>																					
																			</div>												
																		</div>																															
																	</div>													
																</div>												
															</div>												
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sp1Solution">
	<div class="sp1Solution_sub">
		<div class="sp1Solution_sub2">
			<div class="sp1Solution_sub3">
				<div class="sp1Solution_sub4">
					<div class="sp1Solution_sub5">
						<div class="sp1Solution_sub6">
							<div class="sp1Solution_sub7">
								<div class="sp1Solution_sub8">
									<div class="sp1Solution_sub9">
										<div class="sp1Solution_sub10">
											<div class="sp1Solution_sub10_Head">
												<div class="sp1Solution_sub10_Head_sub">
													<div class="sp1Solution_sub10_Head_sub2">
														<div class="sp1Solution_sub10_Head_sub3">
															<div class="sp1Solution_sub10_Head_sub4">
																<div class="sp1Solution_sub10_Head_sub5">
																	<div class="sp1Solution_sub10_Head_sub5_sub">
																		<div class="sp1Solution_sub10_Head_sub5_sub_sub">
																			<div class="sp1Solution_sub10_Head_sub5_sub_sub2">
																				<div class="sp1Solution_sub10_Head_sub5_sub_sub3">																
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Head_sub5_sub2">
																		<div class="sp1Recruit_Head_Title">
																			<h1>테스트용 사이트
																				<br class="mobile-enter">
																				채용정보
																			</h1>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Head_sub5_sub3">
																		<div class="sp1Recruit_Head_Contents">
																			<h6>
																				테스트용 사이트는
                                                                                <br class="mobile-enter">
                                                                                배려심이 있고 협력의식을 가진
																				<br class="mobile-enter">
																				<br class="tablet-enter">
                                                                                열정적인 분을 기다리고 있습니다.                                                                           
																			</h6>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="sp1Solution_sub10_Center">
												<div class="sp1Solution_sub10_Center_sub">
													<div class="sp1Solution_sub10_Center_sub2">
														<div class="sp1Solution_sub10_Center_sub3">
															<div class="sp1Solution_sub10_Center_sub4">
																<div class="sp1Solution_sub10_Center_sub5">
																	<div class="sp1Solution_sub10_Center_sub5_sub">
																		<div class="sp1Solution_sub10_Center_sub5_sub_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub_sub2">
																				<div class="sp1Solution_sub10_Center_sub5_sub_sub3">																	
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub2">
																		<div class="sp1Solution_sub10_Center_sub5_sub2_sub">
																			<h2>채용단계</h2>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub3">
																		<div class="sp1Solution_sub10_Center_sub5_sub3_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub3_sub2">
																				<span></span>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub4">
																		<div class="sp1Solution_sub10_Center_sub5_sub4_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub4_sub2">

																				<!-- 채용단계 원 도형 -->
																				<div class="sp1Recruit_welfare_div">
																					<div class="sp1Recruit_employInfo_step">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Solution_sub10_Center_sub5_sub4_sub8">
																										<div class="employInfo_circle">
																											<div class="employInfo_circle_div1">
																												<h5>
																													1차
																													<br>
																													서류전형
																												</h5>
																											</div>
																											<div class="employInfo_circle_div2">
																												<h5>
																												</h5>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Recruit_welfare_div">
																					<div class="sp1Recruit_employInfo_step">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Solution_sub10_Center_sub5_sub4_sub8">
																										<div class="employInfo_circle">
																											<div class="employInfo_circle_div1">
																												<h5>
																													2차
																													<br>
																													개별면접
																												</h5>
																											</div>
																											<div class="employInfo_circle_div2">
																												<h5>
																												</h5>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Recruit_welfare_div">
																					<div class="sp1Recruit_employInfo_step">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Solution_sub10_Center_sub5_sub4_sub8">
																										<div class="employInfo_circle">
																											<div class="employInfo_circle_div1">
																												<h5>
																													3차
																													<br>
																													임원진면접
																												</h5>
																											</div>
																											<div class="employInfo_circle_div2">
																												<h5>
																												</h5>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Recruit_welfare_div">
																					<div class="sp1Recruit_employInfo_step">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Solution_sub10_Center_sub5_sub4_sub8">
																										<div class="employInfo_circle_red">
																											<div class="employInfo_circle_red_div1">
																												<h5>
																													채용확정
																												</h5>
																											</div>
																											<div class="employInfo_circle_red_div2">
																												<h5>
																												</h5>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<!-- End -->

																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub5">
																		<div class="sp1Solution_sub10_Center_sub5_sub5_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub5_sub2">
																				<span></span>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Recruit_employInfo_tel">
																		<div class="sp1Recruit_employInfo_tel_sub">
																			<h3>모집분야</h3>
																			<div class="sp1Recruit_employInfo_area">

																				<!-- 모집분야 선택 버튼 -->
																				<div class="sp1Recruit_employInfo_area_div1">
																					<div class="sp1Recruit_employInfo_area_div1_sub">
																						<div class="sp1Recruit_employInfo_area_div1_sub2" id="employInfo_web">
																							<h5>웹 개발</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div1_sub3" id="employInfo_app">
																							<h5>앱 개발</h5>
																						</div>
																					</div>
																				</div>
																				<!-- End -->

																				<!-- 웹 개발 상세내용 -->
																				<div class="sp1Recruit_employInfo_area_div2" id="recruitArea1">
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>모집부문</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>경력/신입 웹 개발자</h5>
																						</div>
																					</div>
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>모집인원</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>00명</h5>
																						</div>
																					</div>
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>자격요건</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>
																								학력: 무관
																								<br>
																								성별: 무관
																								<br>
																								경력: 프로젝트 유경험자(1년 이상)
																								<br>
																								신입: 웹/서버 개발에 관심과 열정이 있는 분
																							</h5>
																						</div>
																					</div>
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>담당업무</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>웹 개발</h5>
																						</div>
																					</div>
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>우대사항</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>
																								java, jsp, jquery 개발 능숙자
																								<br>
																								html, javascript, css 개발 능숙자
																								<br>
																								oracle, my-sql, ms sql 등 개발 능숙자
																								<br>
																								spring, 전자정부 등 프레임워크 경험자
																								<br>
																								Restful API 개발 경험자
																								<br>
																								관련 자격증 소지자(정보처리 등)
																							</h5>
																						</div>
																					</div>
																				</div>
																				<!-- End -->

																				<!-- 앱 개발 상세내용 -->
																				<div class="sp1Recruit_employInfo_area_div2 hiddenClass" id="recruitArea2">
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>모집부문</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>경력/신입 앱 개발자</h5>
																						</div>
																					</div>
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>모집인원</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>00명</h5>
																						</div>
																					</div>
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>자격요건</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>
																								학력: 무관
																								<br>
																								성별: 무관
																								<br>
																								경력: 프로젝트 유경험자(1년 이상)
																								<br>
																								신입: 앱 개발에 관심과 열정이 있는 분
																							</h5>
																						</div>
																					</div>
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>담당업무</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>안드로이드/iOS 앱 개발</h5>
																						</div>
																					</div>
																					<div class="sp1Recruit_employInfo_area_div2_sub">
																						<div class="sp1Recruit_employInfo_area_div2_sub_title">
																							<h5>우대사항</h5>
																						</div>
																						<div class="sp1Recruit_employInfo_area_div2_sub_contents">
																							<h5>
																								앱 개발 유경험자
																								<br>
																								데이터베이스 프로그래밍 유경험자
																								<br>
																								관련 자격증 소지자(정보처리 등)
																								<br>
																							</h5>
																						</div>
																					</div>
																				</div>
																				<!-- End -->

																			</div>
																		</div>
																	</div>

																	<!-- 구분선 라인 -->
																	<div class="sp1Solution_sub10_Center_sub5_sub5">
																		<div class="sp1Solution_sub10_Center_sub5_sub5_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub5_sub2">
																				<span></span>
																			</div>
																		</div>
																	</div>
																	<!-- End -->

																	<div class="sp1Recruit_employInfo_tel">
																		<div class="sp1Recruit_employInfo_tel_sub">
																			<h3>문의</h3>
																			<div class="sp1Recruit_employInfo_tel_sub2">
																				<div class="sp1Recruit_employInfo_icon">
																					<img src="/images/icon_17_1.png">																		
																				</div>
																				<div class="sp1Recruit_employInfo_contents">
																					<h5>
																						<a href="Tel:070-8836-1108">Tel : 070-8836-1108</a> | <a href="Tel:050-8090-0718">FAX : 050-8090-0718</a>
																					</h5>																			
																				</div>
																			</div>
																			<div class="sp1Recruit_employInfo_tel_sub2">
																				<div class="sp1Recruit_employInfo_icon">
																					<img src="/images/icon_16_1.png">																			
																				</div>
																				<div class="sp1Recruit_employInfo_contents">
																					<h5>
																						<a href="mailto:recruit@sp1soft.com">recruit@sp1soft.com</a>
																					</h5>																			
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub5">
																		<div class="sp1Solution_sub10_Center_sub5_sub5_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub5_sub2">
																				<span></span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('../common/footer.ejs') %>
<script>
$(function() {
    $(function init() {    	
		var employInfo_web = document.getElementById('employInfo_web');
		var employInfo_app = document.getElementById('employInfo_app');
		var recruitArea1 = document.getElementById('recruitArea1');
		var recruitArea2 = document.getElementById('recruitArea2');

		// 모집분야 웹 개발 클릭
		employInfo_web.addEventListener("click", function() {
			employInfo_web.className = 'sp1Recruit_employInfo_area_div1_sub2';
			employInfo_app.className = 'sp1Recruit_employInfo_area_div1_sub3';
			recruitArea1.className = 'sp1Recruit_employInfo_area_div2';
			recruitArea2.className = 'sp1Recruit_employInfo_area_div2 hiddenClass';
		});
		// 모집분야 앱 개발 클릭
		employInfo_app.addEventListener("click", function() {
			employInfo_web.className = 'sp1Recruit_employInfo_area_div1_sub3';
			employInfo_app.className = 'sp1Recruit_employInfo_area_div1_sub2';
			recruitArea1.className = 'sp1Recruit_employInfo_area_div2 hiddenClass';
			recruitArea2.className = 'sp1Recruit_employInfo_area_div2';
		});
	});
});   	
</script>