<%- include('../common/header.ejs') %>

<title>복리후생 - 테스트용 사이트</title>
<div class="sp1TopContents">
	<div class="sp1Top">
		<div class="sp1Top_sub">
			<div class="sp1Top_sub2">
				<div class="sp1Top_sub3">
					<div class="sp1Top_sub4">
						<div class="sp1Top_sub5">
							<div class="sp1Top_sub6">
								<div class="sp1Top_sub7">
									<div class="sp1Top_sub8">
										<div class="sp1Top_sub9">
											<div class="sp1Top_sub10_recruit">
												<div class="sp1Top_sub11">
													<div class="sp1Top_sub12">
														<div class="sp1Top_sub13">
															<div class="sp1Top_sub14">
																<div class="sp1Top_sub15">
																	<div class="sp1Top_sub15">
																		<div class="sp1Top_sub16">
																			<div class="sp1Top_sub17">
																				<h1>복리후생</h1>
																			</div>												
																		</div>
																		<div class="sp1Top_sub18">
																			<div class="sp1Top_sub19">
																				<div class="sp1Top_sub20">
																					<div class="sp1Top_sub21">
																						<div class="sp1Top_sub22">
																							<div class="sp1Top_sub23">
																								<div class="sp1Top_sub24">
																									<a href="/" class="sub24_Link">테스트용 사이트</a>																				
																								</div>	
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/recruit/talent" class="sub24_Link">인재채용</a>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<div class="sp1Top_sub25">
																										<span><i>＞</i></span>																										
																									</div>																				
																								</div>
																								<div class="sp1Top_sub24">
																									<a href="/recruit/welfare" class="sub24_Link">복리후생</a>																				
																								</div>																			
																							</div>																					
																						</div>	
																					</div>																					
																				</div>																					
																			</div>												
																		</div>																															
																	</div>													
																</div>												
															</div>												
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sp1Solution">
	<div class="sp1Solution_sub">
		<div class="sp1Solution_sub2">
			<div class="sp1Solution_sub3">
				<div class="sp1Solution_sub4">
					<div class="sp1Solution_sub5">
						<div class="sp1Solution_sub6">
							<div class="sp1Solution_sub7">
								<div class="sp1Solution_sub8">
									<div class="sp1Solution_sub9">
										<div class="sp1Solution_sub10">
											<div class="sp1Solution_sub10_Head">
												<div class="sp1Solution_sub10_Head_sub">
													<div class="sp1Solution_sub10_Head_sub2">
														<div class="sp1Solution_sub10_Head_sub3">
															<div class="sp1Solution_sub10_Head_sub4">
																<div class="sp1Solution_sub10_Head_sub5">
																	<div class="sp1Solution_sub10_Head_sub5_sub">
																		<div class="sp1Solution_sub10_Head_sub5_sub_sub">
																			<div class="sp1Solution_sub10_Head_sub5_sub_sub2">
																				<div class="sp1Solution_sub10_Head_sub5_sub_sub3">																
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Head_sub5_sub2">
																		<div class="sp1Recruit_Head_Title">
																			<h1>테스트용 사이트
																				<br class="mobile-enter">
																				복리후생
																			</h1>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Head_sub5_sub3">
																		<div class="sp1Recruit_Head_Contents">
																			<h6>
																				테스트용 사이트는 임직원
                                                                                <br class="mobile-enter">
                                                                                여러분의
                                                                                <br class="tablet-enter">
                                                                                행복하고 건강한 삶을 위해
                                                                                <br class="mobile-enter">
                                                                                다양한 복지제도를 지원하고 있습니다.
																			</h6>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="sp1Solution_sub10_Center">
												<div class="sp1Solution_sub10_Center_sub">
													<div class="sp1Solution_sub10_Center_sub2">
														<div class="sp1Solution_sub10_Center_sub3">
															<div class="sp1Solution_sub10_Center_sub4">
																<div class="sp1Solution_sub10_Center_sub5">
																	<div class="sp1Solution_sub10_Center_sub5_sub">
																		<div class="sp1Solution_sub10_Center_sub5_sub_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub_sub2">
																				<div class="sp1Solution_sub10_Center_sub5_sub_sub3">																	
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub2">
																		<div class="sp1Solution_sub10_Center_sub5_sub2_sub">
																			<h2>주요 복리후생 내용</h2>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub3">
																		<div class="sp1Solution_sub10_Center_sub5_sub3_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub3_sub2">
																				<span></span>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub4">
																		<div class="sp1Solution_sub10_Center_sub5_sub4_sub">
																			<div class="sp1Recruit_welfare">
																				<div class="sp1Recruit_welfare_div2">
																					<div class="sp1Recruit_welfare_div_sub">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Recruit_welfare_img">
																										<img src="/images/icon_8_1.png">
																									</div>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub9">
																								<div class="sp1Recruit_welfare_title">
																									<h5>4대 보험지원</h5>
																								</div>
																							</div>
																							<div class="sp1Recruit_welfare_column">
																								<div class="sp1Recruit_welfare_column_sub">
																									<h6>
																										· 국민연금
																										<br>
																										· 건강보험
																										<br>
																										· 고용보험
																										<br>
																										· 산재보험
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Recruit_welfare_div2">
																					<div class="sp1Recruit_welfare_div_sub">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Recruit_welfare_img">
																										<img src="/images/icon_9_1.png">
																									</div>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub9">
																								<div class="sp1Recruit_welfare_title">
																									<h5>포상 제도</h5>
																								</div>
																							</div>
																							<div class="sp1Recruit_welfare_column">
																								<div class="sp1Recruit_welfare_column_sub">
																									<h6>
																										· 장기근속자 포상
																										<br>
																										· 우수 사원 포상
																										<br>
																										· 상여금
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Recruit_welfare_div2">
																					<div class="sp1Recruit_welfare_div_sub">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Recruit_welfare_img">
																										<img src="/images/icon_11_1.png">
																									</div>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub9">
																								<div class="sp1Recruit_welfare_title">
																									<h5>사내 동호회 운영</h5>
																								</div>
																							</div>
																							<div class="sp1Recruit_welfare_column">
																								<div class="sp1Recruit_welfare_column_sub">
																									<h6>
																										· 동호회 정기 활동비 지원
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Recruit_welfare_div2">
																					<div class="sp1Recruit_welfare_div_sub">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Recruit_welfare_img">
																										<img src="/images/icon_12_1.png">
																									</div>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub9">
																								<div class="sp1Recruit_welfare_title">
																									<h5>휴가 및 휴직</h5>
																								</div>
																							</div>
																							<div class="sp1Recruit_welfare_column">
																								<div class="sp1Recruit_welfare_column_sub">
																									<h6>
																										· 연차 휴가
																										<br>
																										· 포상 휴가
																										<br>
																										· 경조 휴가
																										<br>
																										· 육아휴직 제공
																										<br>
																										· 창립기념일 휴무
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Recruit_welfare_div2">
																					<div class="sp1Recruit_welfare_div_sub">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Recruit_welfare_img">
																										<img src="/images/icon_13_1.png">
																									</div>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub9">
																								<div class="sp1Recruit_welfare_title">
																									<h5>교육 및 자기계발</h5>
																								</div>
																							</div>
																							<div class="sp1Recruit_welfare_column">
																								<div class="sp1Recruit_welfare_column_sub">
																									<h6>
																										· 직무능력향상교육비 지원
																										<br>
																										· 국가공인 자격증 취득 지원
																										<br>
																										· 도서구입비 지원
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Recruit_welfare_div2">
																					<div class="sp1Recruit_welfare_div_sub">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Recruit_welfare_img">
																										<img src="/images/icon_14_1.png">
																									</div>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub9">
																								<div class="sp1Recruit_welfare_title">
																									<h5>건강검진</h5>
																								</div>
																							</div>
																							<div class="sp1Recruit_welfare_column">
																								<div class="sp1Recruit_welfare_column_sub">
																									<h6>
																										· 건강검진 지원
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="sp1Recruit_welfare_div2">
																					<div class="sp1Recruit_welfare_div_sub">
																						<div class="sp1Solution_sub10_Center_sub5_sub4_sub5">
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub6">
																								<div class="sp1Solution_sub10_Center_sub5_sub4_sub7">
																									<div class="sp1Recruit_welfare_img">
																										<img src="/images/icon_15_1.png">
																									</div>
																								</div>
																							</div>
																							<div class="sp1Solution_sub10_Center_sub5_sub4_sub9">
																								<div class="sp1Recruit_welfare_title">
																									<h5>경조사 및 기타</h5>
																								</div>
																							</div>
																							<div class="sp1Recruit_welfare_column">
																								<div class="sp1Recruit_welfare_column_sub">
																									<h6>
																										· 경조사 시 경조금, 화환 지원
																										<br>
																										· 워크샵
																										<br>
																										· 간식/음료 제공
																										<br>
																										· 석식 제공
																										<br>
																										· 명절상품(설날/추석) 제공	
																										<br>
																										· 생일자 상품권 지급
																									</h6>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="sp1Solution_sub10_Center_sub5_sub5">
																		<div class="sp1Solution_sub10_Center_sub5_sub5_sub">
																			<div class="sp1Solution_sub10_Center_sub5_sub5_sub2">
																				<span></span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>										
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('../common/footer.ejs') %>